*, *:before, *:after
  box-sizing border-box

ul, li
  list-style none
  display block

ul, li, p, h1, h2, h3, h4, h5, h6
  margin 0
  padding 0

a
  text-decoration none
  color inherit
  &:hover
    text-decoration none

.border-link
  border-bottom solid 1px @color
  &:hover
    border-bottom 0
    margin-bottom 1px
body
  font-family gp, sans-serif
  background #f1f1ef
  min-width px2em(1268)
  color #464547
  @media screen and (max-width: 1288px)
    font-size 95%
  @media screen and (max-width: 1222px)
    font-size 90%
  @media screen and (max-width: 1159px)
    font-size 85%
  @media screen and (max-width: 1095px)
    font-size 80%
  @media screen and (max-width: 1031px)
    font-size 75%
  @media screen and (max-width: 968px)
    font-size 70%
  @media screen and (max-width: 906px)
    font-size 65%
  @media screen and (max-width: 842px)
    font-size 60%

img
  max-width 100%
