@font-face {
  font-family: 'gp';
  src: url("../fonts/GothaProMed.woff") format('woff'), url("../fonts/GothaProMed.otf") format('opentype');
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: 'gp';
  src: url("../fonts/GothaProBol.woff") format('woff'), url("../fonts/GothaProBol.otf") format('opentype');
  font-style: normal;
  font-weight: 700;
}
.bottom-buffer {
  margin-bottom: 20px;
}
.xs-bottom-buffer {
  margin-bottom: 5px;
}
.navbar-brand--auto-height {
  height: auto;
}
.navbar .navbar-brand:not(a):hover {
  color: #777;
}
.navbar-static-top + .navbar-static-top {
  margin-top: -20px;
}
.navbar-ztop {
  z-index: 1001;
}
.lang-select a {
  color: inherit;
}
.lang-select + .navbar-nav.navbar-right {
  margin-right: 1em;
}
.navbar-nav > .navbar-nav-btn > a {
  padding-top: 8px;
  padding-bottom: 8px;
}
.icon-btn {
  cursor: pointer;
  opacity: 0.3;
}
.icon-btn:hover {
  opacity: 0.7;
}
.btn-link--narrow {
  padding-right: 0;
  padding-left: 0;
}
.input-group-addon:not(:last-child):not(:first-child) {
  border-left: 0;
  border-right: 0;
}
.btn-with-note {
  display: inline-block;
}
.btn-with-note small {
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.5em;
}
.btn-with-note + .btn,
.btn-with-note + .btn-with-note {
  margin-left: 2em;
}
.btn-with-left-note {
  display: inline-block;
}
.btn-with-left-note strong {
  display: inline-block;
  vertical-align: middle;
  line-height: 1.2;
}
.btn-with-left-note .btn {
  margin-left: 1em;
}
.checkbox-toggle label {
  font-weight: 400;
  cursor: pointer;
}
.checkbox-toggle input {
  display: none;
}
.checkbox-toggle__ui {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid;
  border-radius: 4px;
  height: 34px;
  padding: 1px;
  width: 50px;
  margin-right: 0.5em;
  position: relative;
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
  box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.checkbox-toggle__ui:before {
  content: 'Off';
  padding: 4px 0;
  display: block;
  text-align: center;
  margin-left: 15px;
  opacity: 0.7;
}
.checkbox-toggle__ui:after {
  content: '';
  position: absolute;
  height: 30px;
  width: 15px;
  border-radius: 4px;
  background: #fff;
  border: solid 1px #ccc;
  top: 1px;
  left: 1px;
}
input:checked + .checkbox-toggle__ui {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}
input:checked + .checkbox-toggle__ui:before {
  content: 'On';
  margin-left: 0;
  margin-right: 15px;
}
input:checked + .checkbox-toggle__ui:after {
  border-color: #4b8a4b;
  right: 1px;
  left: auto;
}
.table > thead > tr > th {
  line-height: 1.2;
  vertical-align: top;
}
.sorted-table thead th {
  cursor: pointer;
}
.sorted-table thead th:after {
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f0dc";
  margin-left: 0.5em;
  opacity: 0.5;
}
.sorted-table thead th.no-sorting {
  cursor: text;
}
.sorted-table thead th.no-sorting:after {
  content: none;
}
.sorted-table thead th.sorted-asc:after,
.sorted-table thead th.sorted-desc:after {
  opacity: 1;
}
.sorted-table thead th.sorted-asc:after {
  content: '\f0de';
}
.sorted-table thead th.sorted-desc:after {
  content: '\f0dd';
}
.table > tbody > .continue-tr > td {
  border-top: none;
}
[data-tr-link] {
  cursor: pointer;
  color: #366d9c;
}
[data-tr-link]:hover {
  background: #f0f6fa;
}
.table-form td,
.table-form th {
  border: none !important;
  padding-top: 7px !important;
  padding-bottom: 7px !important;
}
.table-form .form-control-static {
  padding-left: 12px;
}
.declaration-form__ammount,
.declaration-form__cost {
  width: 100px;
}
.declaration-form__controls {
  width: 1px;
}
.declaration-form__total-cost-cell .form-control-static,
.declaration-form__total-cost-cell .form-control {
  display: inline;
  width: auto;
}
.panel-heading[data-toggle=collapse] {
  cursor: pointer;
}
.panel-heading[data-toggle=collapse]:before {
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '\f13a';
  font-size: 1.2em;
  float: right;
}
.panel-heading[data-toggle=collapse].collapsed:before {
  content: '\f138';
}
.thumbnail-link {
  text-align: center;
  padding-top: 3em;
  padding-bottom: 3em;
  font-size: 2em;
}
.thumbnail-link:hover {
  text-decoration: none;
}
.issuance-issue-item-row {
  color: #f00;
}
.issuance-issue-form-row > td {
  display: none;
}
.issuance-issue-item-row + .issuance-issue-form-row > td {
  display: table-cell;
  border-top: none;
}
.sticker {
  background: #fff;
  width: 200px;
  border-radius: 20px;
  color: #464547;
  overflow: hidden;
  border: solid 1px #464547;
  font-family: gp;
  font-weight: 700;
}
.sticker__header {
  background: #464547;
  height: 60px;
  padding: 8px 20px;
  font-size: 30px;
  color: #fff;
}
.sticker__img {
  width: 90%;
  margin: 0 auto;
  display: block;
}
.sticker__main {
  margin: 20px;
  margin-top: 15px;
  font-weight: bold;
}
.sticker__main__country {
  background: #464547;
  color: #fff;
  font-size: 25px;
  padding: 0 5px;
  display: inline-block;
  margin-bottom: 5px;
}
.sticker__main__code {
  font-size: 40px;
  margin-left: -3px;
}
.sticker__main__code .code__digits {
  margin-left: -12px;
}
.sticker__main__name {
  margin-top: -5px;
  font-size: 13px;
}
.fixed-footer {
  background: #f1f1f1;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}
.fixed-footer,
.fixed-footer__placeholder {
  padding-top: 20px;
  height: 70px;
}
.fixed-footer h3 {
  margin: 0;
}
.inventory-help-icon {
  font-size: 1.2em;
  padding: 10px;
}
