<% include includes/client-ui/intro %>


<div class="container">

  <h1>
    Kuoma, Helsingintie 155100, Imatra Finland<br>
    Oleg Petrov, suite 653281
  </h1>
  <br>

  <div class="panel panel-default">
    <button type="button" class="close" data-dismiss="alert" style="margin:.4em .5em">
      <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <div class="panel-heading">
      <h3 class="panel-title">Склад по умолчанию</h3>
    </div>
    <div class="panel-body">
      <ul class="nav nav-pills">
        <li class="active"><a href="#" class="js-cur-store-btn">Иматра</a></li>
        <li><a href="#" class="js-cur-store-btn">Лаппеенранта</a></li>
        <li><a href="#" class="js-cur-store-btn">Третий</a></li>
      </ul>
    </div>
  </div>

  <div class="jumbotron">
    <button type="button" class="close" data-dismiss="alert" style="margin:-1.8em -2.2em">
      <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h3>Инструкция</h3>
    <p style="font-size:3em">
      <span class="label label-info">1</span>
      &rarr;
      <span class="label label-info">2</span>
      &rarr;
      <span class="label label-info">3</span>
    </p>
  </div>

  <div class="alert alert-warning" role="alert">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    Ваша посылка была утеряна, <a href="#" class="alert-link">подробнее</a>.
  </div>

  <div class="alert alert-info" role="alert">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    На склад пришла посылка из США, <a href="#" class="alert-link">подробнее</a>.
  </div>

  <div class="alert alert-success" role="alert">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    Мы стали еще дешевле!
  </div>

  <br>
  <h3>Оформление данных посылок требует вашего участия</h3>

  <div class="table-responsive">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th rowspan="2">Трекинг</th>
        <th rowspan="2">Продавец</th>
        <th rowspan="2">Доверенность</th>
        <th rowspan="2">Статус</th>
        <th colspan="2">Задолженность</th>
        <th rowspan="2"></th>
      </tr>
      <tr>
        <th>за услуги</th>
        <th>за пошлину</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1Z6R646E0319744877</td>
        <td>Apple</td>
        <td>&mdash;</td>
        <td>Проблемная</td>
        <td>3 €</td>
        <td>10 €</td>
        <td><a href="parcel--damaged-storage-1.html" class="btn btn-info btn-xs">Подробнее</a></td>
      </tr>
      <tr>
        <td>1Z6R646E0319744872</td>
        <td>Microsoft</td>
        <td>&mdash;</td>
        <td>Требует действий</td>
        <td>0 €</td>
        <td>5 €</td>
        <td><a href="parcel--need-info.html" class="btn btn-info btn-xs">Заполнить</a></td>
      </tr>
      <tr>
        <td>1Z6R646E0319744873</td>
        <td>eBay</td>
        <td>&mdash;</td>
        <td>Проблемная</td>
        <td>0 €</td>
        <td>0 €</td>
        <td><a href="parcel--written-off.html" class="btn btn-info btn-xs">Подробнее</a></td>
      </tr>
    </tbody>
  </table>
  </div>


  <br>
  <h3>Вы можете забрать эти посылки</h3>

  <div class="table-responsive">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th rowspan="2">Трекинг</th>
        <th rowspan="2">Продавец</th>
        <th rowspan="2">Доверенность</th>
        <th colspan="2">Задолженность</th>
        <th rowspan="2"></th>
      </tr>
      <tr>
        <th>за услуги</th>
        <th>за пошлину</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1Z6R646E0319744874</td>
        <td>Google</td>
        <td>Alekseev Vladislav</td>
        <td>11 €</td>
        <td>0 €</td>
        <td>
          <a href="payment--parcel.html" class="btn btn-success btn-xs">Оплатить</a>
          <a href="parcel.html" class="btn btn-info btn-xs">Подробнее</a>
        </td>
      </tr>
    </tbody>
  </table>
  </div>

  <br>
  <h3>Подобранные</h3>

  <div class="table-responsive">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Состояние</th>
        <th>Посылки</th>
        <th>Возрат пошлины</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Подобраны 08.06.2014 13:05</th>
        <td>1Z6R646E0319744875, 1Z6R646E0319744876</td>
        <td>
          Ожидание возврата, 42 €
        </td>
        <td>
          <button class="btn btn-primary btn-xs js-return-fee-btn">Вернуть пошлину</button>
          <a href="parcel-group.html" class="btn btn-info btn-xs">Подробнее</a>
        </td>
      </tr>
      <tr>
        <th>Подобраны 01.06.2014 14:15</th>
        <td>1Z6R646E0319744878</td>
        <td>
          Ожидание возврата, 10 €
        </td>
        <td>
          <button class="btn btn-primary btn-xs js-return-fee-btn">Вернуть пошлину</button>
          <a href="parcel-group.html" class="btn btn-info btn-xs">Подробнее</a>
        </td>
      </tr>
      <tr class="hidden js-hidden-row-1">
        <th>Подобраны 09.05.2014 13:05</th>
        <td>1Z6R646E0319744879, 1Z6R646E0319744810</td>
        <td>
          Возвращена, 31 €
        </td>
        <td>
          <a href="parcel-group.html" class="btn btn-info btn-xs">Подробнее</a>
        </td>
      </tr>
      <tr class="hidden js-hidden-row-1">
        <th>Списаны 09.05.2014 13:05</th>
        <td>1Z6R646E0319744811</td>
        <td>
          —
        </td>
        <td>
          <a href="parcel--written-off-2.html" class="btn btn-info btn-xs">Подробнее</a>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
  <button class="btn btn-default" id="show-all-btn-1">Показать все подобранные посылки</button>

  <br>
  <br>
  <br>

</div>

<script type="text/javascript">
  $('#show-all-btn-1').click(function() {
    $('.js-hidden-row-1').toggleClass('hidden');
    $(this).text($(this).text() === 'Свернуть' ? 'Показать все подобранные посылки' : 'Свернуть');
  });

  $('.js-return-fee-btn').click(function(){

    var $btn = $(this);
    function updateRow() {
      $btn
        .next().attr('href', 'parcel-group--return-fee.html').end()
        .after('<span class="label label-warning">Проблема</span>')
        .remove();
    }

    $('#modal-id-123').modal('show');
    $('#return-fee-send-btn-1').off().click(updateRow);

  });
</script>







<% include includes/client-ui/move-parcels-modal %>

<script type="text/javascript">
  $('.js-move-parcel-checkbox').change(function() {
    $('.js-move-parcel-sum').text($('.js-move-parcel-checkbox:checked').length * 5);
  });
  $('.js-cur-store-btn').click(function() {
    $li = $(this).parent();
    if (!$li.hasClass('active')) {
      $li.addClass('active').siblings().removeClass('active');
      $('#move-parcel-modal').modal('show');
    }
  });
</script>


















<!-- Modal -->
<div class="modal fade" id="modal-id-123" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Возврат пошлины</h4>
      </div>
      <div class="modal-body">
        <p>
          Вы прошли таможню, но не получили возврат на карту?
          Возможно, ваш банк еще не вернул вам деньги.
          Но, чтобы быть на 100% уверенными, пожалуйста,
          сфотографируйте вашу таможенную декларацию и
          загрузите ее сюда, и мы примем все необходимые меры.
        </p>

        <div class="form-horizontal">


          <div class="form-group">
            <label class="col-sm-3 control-label">Фотография декларации</label>
            <div class="col-sm-9">
              <!-- This is where the widget will be. Don't forget the name attribute! -->
              <input type="hidden" role="uploadcare-uploader" name="my_file" data-images-only data-clearable />
            </div>
          </div>


        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="return-fee-send-btn-1">Готово</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
      </div>
    </div>
  </div>
</div>












<% include includes/layout/outro %>
