<% include includes/client-ui/intro %>
<% include includes/client-ui/parcel/header %>

<div class="container">



  <div class="alert alert-danger" role="alert">
    Ваша посылка была потеряна и поэтому списана.
    Для вас будет произведена компенсация ее стоимости.
    С вами свяжутся наши менеджеры для уточнения деталей и выдачи компенсации.
    Телефон для справок 8-800-200-56-97.
    Приносим свои извинения за неудобства.
  </div>

  <% include includes/client-ui/parcel/not-editable-info %>

</div>


<% include includes/client-ui/parcel/proxy-person-modal %>
<% include includes/client-ui/parcel/issue-modal %>
<% include includes/client-ui/parcel/return-modal %>
<% include includes/client-ui/parcel/move-modal %>
<% include includes/client-ui/parcel/extra-photos-modal %>


<% include includes/layout/outro %>
