<%
  var OPT = (function(){try{return INTRO_OPT}catch(e){return {}}}())
%><!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Pochta.fi</title>
  <meta name="viewport" content="width=800">
  <link rel="shortcut icon" href="<%- staticUrl('favicon.ico') %>">
  <link rel="stylesheet" href="<%- staticUrl('css/main.css') %>">

</head>
<body class="<%- OPT.bodyClass %>">
<!-- / layout-intro -->

