<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <span class="navbar-brand">
        Посылки 1Z6R646E0319744877, 1Z6R646E0319744871, 1Z6R646E0319744872
      </span>
    </div>
  </div>
</nav>
