<!-- Modal -->
<div class="modal fade" id="issue-modal-1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Добавление жалобы</h4>
      </div>
      <div class="modal-body">

        <div class="form-horizontal">
          <div class="form-group">
            <label for="issue-field-0" class="col-sm-3 control-label">Причина</label>
            <div class="col-sm-9">
              <select class="form-control" id="issue-field-0">
                <option>Повреждение содержимого посылки</option>
                <option>Несоответствие фотографий</option>
                <option>Перемещение</option>
                <option>Возрат в магазин</option>
                <option>Жалоба на сотрудников</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <textarea class="form-control" id="issue-field-1" rows="3"
                onkeyup="$('#add-issue-btn-1').prop('disabled', $(this).val() === '')"
              ></textarea>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="add-issue-btn-1" disabled>Добавить</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">

  $('#start-issue-btn-1').click(function() {
    $('#issue-modal-1').modal('show');
  });

  $('#add-issue-btn-1').click(function(){
    $('.js-issue-fields-1')
      .first()
      .clone()
      .removeClass('hidden')
        .find('.js-issue-text')
        .text(  $('#issue-field-1').val()  )
        .end()
      .insertAfter(  $('.js-issue-fields-1').first()  );
    $('#issue-modal-1').modal('hide');
    $('#issue-field-1').val('')
  });

</script>
