<div class="row">
  <div class="col-md-6 col-sm-8">
      <div class="form-group">
        <label for="tmp-id-1">Номер карты</label>
        <input type="text" class="form-control" id="tmp-id-1">
      </div>
      <div class="row">
        <div class="col-xs-8">
          <div class="form-group">
            <label for="tmp-id-2">Срок действия</label>
            <div>
              <input type="text" class="form-control" id="tmp-id-2" style="width: 30%; display: inline"> /
              <input type="text" class="form-control" id="tmp-id-3" style="width: 30%; display: inline">
            </div>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="form-group">
            <label for="tmp-id-4">CVC код</label>
            <input type="text" class="form-control" id="tmp-id-4">
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="tmp-id-5">Владелец карты (как на карте)</label>
        <input type="text" class="form-control" id="tmp-id-5">
      </div>
      <div>
        <input type="button" value="Оплатить" class="btn btn-success" data-toggle="modal" data-target="#myModal">
        <strong>195 €</strong>
      </div>
  </div>
</div>

<br>
<p>Таможенные депозиты и/или НДС за европейские будут возвращаться на эту карту.</p>



<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Окно банка</h4>
      </div>
      <div class="modal-body">
        <p>Это окно со страницей банка для ввода пароля.</p>
        <a href="<%- (function(){try{return PAYMENT_FORM_LINK}catch(e){return 'issuance-end.html'}}()) %>"
          class="btn btn-primary"
        >Готово</a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
      </div>
    </div>
  </div>
</div>
