<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="javascript:history.go(-1)"><?php echo $this->__("Назад") ?></a></li>
      </ul>
    </div>

  </div>
</nav>

<div class="container">

    <div class="alert alert-info">
        <?php echo $this->__("Введите внутренний номер посылки, полученный ранее.") ?><br>
    </div>

    <form action="<?php echo $this->getUrl('pochta/parcelreception/setParcelSku') ?>" method="post">

        <div class="form-horizontal">
          <div class="form-group">
              <div class="col-sm-2">
                  <select id="id_type" name="id_type" title="<?php echo $this->__('Тип ID') ?>" class="form-control validate-select required-entry">
                      <option value="Tracking" selected="selected"><?php echo $this->__('Tracking') ?></option>
                      <option value="SKU" ><?php echo $this->__('SKU') ?></option>
                  </select>
              </div>
              <div class="col-sm-4">
                  <input type="text" class="form-control" id="parcel_id" name="parcel_id" value="" placeholder="<?php echo $this->__('please enter parcel id if any') ?>">
              </div>
          </div>
        </div>

        <input type="submit" class="btn btn-primary" value="<?php echo $this->__('Продолжить') ?>" id="submit-btn-1">
    </form>

</div>