<?php
$issuance = Mage::getSingleton('core/session')->getIssuance();
$movement_id = $issuance['movement_id'];
$movement = Mage::getModel('catalog/product')->load($movement_id);
$product_files_collection = Mage::getModel('files/files')->getFileCollection($movement_id);
$documents = $movement->getRelatedProductCollection()->addAttributeToSelect('*')
    ->addAttributeToFilter('attribute_set_id', Mage::registry('attr_set_id_document'));
$declaration = $documents->getFirstItem();
?>

<div class="container">
    <div class="form-horizontal">

        <div class="form-group">
            <label for="recipient"
                   class="col-sm-3 control-label"><?php echo $this->__('Получатель') ?></label>

            <div class="col-sm-6">
                <p class="form-control-static"><?php echo Mage::helper('pochta')->getCarrierName($movement) ?></p>
            </div>
        </div>

        <div class="form-group">
            <label for="total"
                   class="col-sm-3 control-label"><?php echo $this->__('Всего посылок') ?></label>

            <div class="col-sm-6">
                <p class="form-control-static"><?php echo count(Mage::registry('parcel_ids')) ?></p>
            </div>
        </div>

        <div class="form-group">
            <label for="address" class="col-sm-3 control-label"><?php echo $this->__('Адрес') ?></label>

            <div class="col-sm-6">
                <p class="form-control-static">
                    <?php echo
                        $movement->getConsigneeAddressLine() . ' ' .
                        $movement->getConsigneeAddressCity() . ' ' .
                        $movement->getConsigneeAddressCountry() . ' ' .
                        $movement->getConsigneeAddressPostcode();
                    ?>
                </p>
            </div>
        </div>

        <div class="form-group">
            <label for="transport" class="col-sm-3 control-label"><?php echo $this->__('Номер машины') ?></label>

            <div class="col-sm-6">
                <p class="form-control-static"><?php echo $movement->getTransportMeansId() ?></p>
            </div>
        </div>

        <div class="form-group">
            <label for="in_date" class="col-sm-3 control-label"><?php echo $this->__('Дата прибытия') ?></label>

            <div class="col-sm-6">
                <p class="form-control-static"><?php echo date('d-m-Y', strtotime($movement->getMvtSrcPlannedDate())) ?></p>
            </div>
        </div>

        <div class="form-group">
            <label for="out_date" class="col-sm-3 control-label"><?php echo $this->__('Дата отправления') ?></label>

            <div class="col-sm-6">
                <p class="form-control-static"><?php echo date('d-m-Y', strtotime($movement->getMvtDstPlannedDate())) ?></p>
            </div>
        </div>

        <div class="form-group">
            <label for="declaration" class="col-sm-3 control-label"><?php echo $this->__('Декларация') ?></label>

            <div class="col-sm-6">
                <p class="form-control-static"><?php echo $declaration->getPrevDocumentTypecode() . ' ' . $declaration->getPrevDocumentId() ?></p>
            </div>
        </div>

        <div class="form-group">
            <label for="scans" class="col-sm-3 control-label"><?php echo $this->__('Сканы') ?></label>

            <div class="col-sm-6">
                <p class="form-control-static">
                    <?php $count_images = 0 ?>
                    <?php foreach ($product_files_collection as $file): ?>
                        <a href="<?php echo '/media/product_custom_files/' . $file->getFileTitle() . '_' . $movement_id . '.' . $file->getFileType() ?>">
                            <?php echo $this->__('Сканирование') . ' №' . ++$count_images . ' ' ?></a>
                    <?php endforeach ?>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <form method="post" action="<?php echo $this->getUrl('pochta/issuance/viewPost') ?>">
        <input name="movement_id" type="hidden" value="<?php echo $movement_id ?>">
        <br>
        <table class="table table-condensed" id="parcels">

            <thead>
            <tr>
                <th>
                    <nobr><?php echo $this->__('Номер посылки') ?></nobr>
                </th>
                <th>
                    <nobr><?php echo $this->__('Сьют') ?></nobr>
                </th>
                <th>
                    <nobr><?php echo $this->__('Номер для слежения') ?></nobr>
                </th>
                <th>
                    <nobr><?php echo $this->__('Исходный номер') ?></nobr>
                </th>
                <th>
                    <nobr><?php echo $this->__('Происхождение') ?></nobr>
                </th>
                <th>
                    <nobr><?php echo $this->__('Полка') ?></nobr>
                </th>
                <th>
                    <nobr><?php echo $this->__('Владелец сьюта') ?></nobr>
                </th>
                <th>
                    <nobr><?php echo $this->__('Владелец посылки') ?></nobr>
                </th>
                <th>
                    <nobr><?php echo $this->__('Доверенность') ?></nobr>
                </th>
                <th>
                    <nobr><?php echo $this->__('Статус платежа') ?></nobr>
                </th>
            </tr>
            </thead>

            <tbody>
            <?php $product_links = Mage::registry('parcel_ids') ?>
            <?php foreach ($product_links as $link): ?>

                <?php
                $product = Mage::getModel('catalog/product')->load($link->getProductId());
                $customers = Mage::getModel('customer/customer')->getCollection()
                    ->addAttributeToSelect('suite')
                    ->addFieldToFilter('suite', $product->getBoxSuiteNum());
                $customer = $customers->getFirstItem();
                $customer->load($customer->getId());
                ?>

                <tr>
                    <td>
                        <a href="<?php echo $this->getUrl('catalog/product/view/id/' . $product->getId()) ?>"><?php echo $product->getSku() ?></a>
                    </td>
                    <td><?php echo $product->getBoxSuiteNum() ?></td>
                    <td><?php echo $product->getBoxTrackingNum() ?></td>
                    <td><?php echo $product->getBoxOriginalTracking() ?></td>
                    <td><?php echo $product->getAttributeText('box_origin') ?></td>
                    <td><?php echo $product->getBoxShelf() ?></td>
                    <td><?php echo $customer->getName() ?></td>
                    <td><?php echo $product->getConsigneeName() ?></td>
                    <td><?php echo $product->getAttorneyFullName() . ' ' . $product->getAttorneyDocNumber() ?></td>
                    <td><?php echo $product->getAttributeText('state_payment') ?></td>
                </tr>

            <?php endforeach ?>
            </tbody>
        </table>
    </form>
</div>