@font-face {
  font-family: 'gp';
  src: url("../fonts/GothaProLig.woff") format('woff'), url("../fonts/GothaProLig.otf") format('opentype');
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: 'gp';
  src: url("../fonts/GothaProLigIta.woff") format('woff'), url("../fonts/GothaProLigIta.otf") format('opentype');
  font-style: italic;
  font-weight: 200;
}
@font-face {
  font-family: 'gp';
  src: url("../fonts/GothaProReg.woff") format('woff'), url("../fonts/GothaProReg.otf") format('opentype');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'gp';
  src: url("../fonts/GothaProIta.woff") format('woff'), url("../fonts/GothaProIta.otf") format('opentype');
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: 'gp';
  src: url("../fonts/GothaProMed.woff") format('woff'), url("../fonts/GothaProMed.otf") format('opentype');
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: 'gp';
  src: url("../fonts/GothaProMedIta.woff") format('woff'), url("../fonts/GothaProMedIta.otf") format('opentype');
  font-style: italic;
  font-weight: 600;
}
@font-face {
  font-family: 'gp';
  src: url("../fonts/GothaProBol.woff") format('woff'), url("../fonts/GothaProBol.otf") format('opentype');
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'gp';
  src: url("../fonts/GothaProBolIta.woff") format('woff'), url("../fonts/GothaProBolIta.otf") format('opentype');
  font-style: italic;
  font-weight: 700;
}
@font-face {
  font-family: 'gp';
  src: url("../fonts/GothaProBla.woff") format('woff'), url("../fonts/GothaProBla.otf") format('opentype');
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: 'gp';
  src: url("../fonts/GothaProBlaIta.woff") format('woff'), url("../fonts/GothaProBlaIta.otf") format('opentype');
  font-style: italic;
  font-weight: 800;
}
/* normalize.css v3.0.1 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: 0 0;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: 700;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type=checkbox],
input[type=radio] {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  padding: 0;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}
input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: 700;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}
ul,
li {
  list-style: none;
  display: block;
}
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  font-family: gp, sans-serif;
  background: #f1f0ef;
  min-width: 800px;
  color: #464547;
}
html,
body {
  height: 100%;
}
.container {
  width: 672px;
  margin: 0 auto;
}
.row,
.row-sub-2,
.row-sub-3,
.row-sub-4,
.row-sub-5,
.row-sub-6,
.row-sub-7 {
  margin: 0 -4px;
}
.row:after,
.row-sub-2:after,
.row-sub-3:after,
.row-sub-4:after,
.row-sub-5:after,
.row-sub-6:after,
.row-sub-7:after,
.row:before,
.row-sub-2:before,
.row-sub-3:before,
.row-sub-4:before,
.row-sub-5:before,
.row-sub-6:before,
.row-sub-7:before {
  content: " ";
  display: table;
}
.row:after,
.row-sub-2:after,
.row-sub-3:after,
.row-sub-4:after,
.row-sub-5:after,
.row-sub-6:after,
.row-sub-7:after {
  clear: both;
}
.col-1 {
  width: 12.5%;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8 {
  padding: 0 4px;
  display: block;
  float: left;
  min-height: 1px;
}
.col-2 {
  width: 25%;
}
.col-3 {
  width: 37.5%;
}
.col-4 {
  width: 50%;
}
.col-5 {
  width: 62.5%;
}
.col-6 {
  width: 75%;
}
.col-7 {
  width: 87.5%;
}
.col-8 {
  width: 100%;
}
.row-sub-2 .col-1 {
  width: 50%;
}
.row-sub-2 .col-2 {
  width: 100%;
}
.row-sub-3 .col-1 {
  width: 33.3333333333333%;
}
.row-sub-3 .col-2 {
  width: 66.6666666666667%;
}
.row-sub-3 .col-3 {
  width: 100%;
}
.row-sub-4 .col-1 {
  width: 25%;
}
.row-sub-4 .col-2 {
  width: 50%;
}
.row-sub-4 .col-3 {
  width: 75%;
}
.row-sub-4 .col-4 {
  width: 100%;
}
.row-sub-5 .col-1 {
  width: 20%;
}
.row-sub-5 .col-2 {
  width: 40%;
}
.row-sub-5 .col-3 {
  width: 60%;
}
.row-sub-5 .col-4 {
  width: 80%;
}
.row-sub-5 .col-5 {
  width: 100%;
}
.row-sub-6 .col-1 {
  width: 16.6666666666667%;
}
.row-sub-6 .col-2 {
  width: 33.3333333333333%;
}
.row-sub-6 .col-3 {
  width: 50%;
}
.row-sub-6 .col-4 {
  width: 66.6666666666667%;
}
.row-sub-6 .col-5 {
  width: 83.3333333333333%;
}
.row-sub-6 .col-6 {
  width: 100%;
}
.row-sub-7 .col-1 {
  width: 14.285714285714299%;
}
.row-sub-7 .col-2 {
  width: 28.571428571428598%;
}
.row-sub-7 .col-3 {
  width: 42.8571428571429%;
}
.row-sub-7 .col-4 {
  width: 57.142857142857096%;
}
.row-sub-7 .col-5 {
  width: 71.4285714285714%;
}
.row-sub-7 .col-6 {
  width: 85.7142857142857%;
}
.row-sub-7 .col-7 {
  width: 100%;
}
.form-title {
  padding-top: 60px;
  padding-bottom: 90px;
}
.form-title h1 {
  font-size: 40px;
  line-height: 48px;
  font-weight: 600;
}
.form-control {
  background: transparent;
  border: none;
  border-bottom: solid 2px #464547;
  padding: 0;
  border-radius: 0;
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.form-control:focus,
.has-error .form-control:focus {
  border-color: #00f;
  outline: none;
}
.has-error .form-control {
  border-color: #ff0b15;
}
.form-error a {
  text-decoration: underline;
}
.form-large {
  margin-bottom: 60px;
}
.form-large .form-control {
  font-size: 56px;
  line-height: 60px;
  font-weight: 700;
  padding: 3px 0;
  display: block;
  width: 100%;
  margin-bottom: 15px;
}
.form-large .form-error {
  font-size: 21px;
  line-height: 25px;
  font-weight: 600;
  letter-spacing: 0.005em;
  color: #ff0b15;
  margin-bottom: 16px;
}
.form-large .form-group {
  padding-bottom: 16px;
}
.form-large .form-group--extra-space {
  min-height: 190px;
}
.form-large select.form-control {
  cursor: pointer;
  background-image: url("../images/icons/drop.svg");
  background-size: 30px 19px;
  background-repeat: no-repeat;
  background-position: right 13px top 20px;
}
.form-large ::-webkit-input-placeholder {
  font-weight: 200;
  color: #969495;
}
.form-large ::-moz-placeholder {
  font-weight: 200;
  color: #969495;
}
.form-large :-ms-input-placeholder {
  font-weight: 200;
  color: #969495;
}
.form-large ::placeholder {
  font-weight: 200;
  color: #969495;
}
.btn {
  font-size: 29px;
  line-height: 35px;
  font-weight: 600;
  border: none;
  background: #000;
  color: #fff;
  border-radius: 0;
  padding: 19px 0;
}
.btn-block {
  display: block;
  width: 100%;
  text-align: center;
}
.btn-blue {
  background: #00f;
}
.btn-orange {
  background: #ff592e;
}
.btn-disabled,
.btn[disabled] {
  opacity: 0.4;
}
.header {
  background: #ff592e;
}
.header:after,
.header:before {
  content: " ";
  display: table;
}
.header:after {
  clear: both;
}
.header__left {
  float: left;
}
.header__right {
  float: right;
}
.header__logo {
  display: block;
  height: 50px;
  padding-top: 13px;
}
.header__logo img {
  display: block;
  width: 103px;
  height: 23px;
}
.header-lang {
  margin-right: -8px;
}
.header-lang:after,
.header-lang:before {
  content: " ";
  display: table;
}
.header-lang:after {
  clear: both;
}
.header-lang li {
  float: left;
  width: 44px;
}
.header-lang a,
.header-lang span {
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  display: block;
  height: 50px;
  text-align: center;
  color: #fff;
  padding-top: 15px;
}
.header-lang .active span {
  background: #fff;
  color: #ff592e;
}
.alt-bg-1 {
  background: #fff;
}
.suite-header {
  background: #f1f0ef;
  padding-top: 50px;
  padding-bottom: 30px;
}
.suite-header h2 {
  font-size: 35px;
  line-height: 42px;
  font-weight: 600;
  margin-bottom: 24px;
}
.suite-header__suite {
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
}
.suite-header__suite small {
  font-size: 27px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 0.012em;
  text-transform: uppercase;
  color: #969495;
}
.parcel-list__head {
  padding-top: 36px;
  padding-bottom: 33px;
  border-bottom: solid 1px #a2a2a3;
}
.parcel-list__head h3 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}
.parcel-list__head img {
  display: block;
  margin-top: 12px;
}
.parcel-item {
  display: block;
  cursor: pointer;
  border-bottom: solid 1px #cac9ca;
  padding-top: 27px;
  padding-bottom: 22px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.parcel-item__name {
  font-size: 25px;
  line-height: 26px;
  font-weight: 600;
  display: block;
  margin-bottom: 16px;
}
.parcel-item__meta__label,
.parcel-item__meta__value {
  display: block;
}
.parcel-item__meta__label {
  font-size: 13px;
  line-height: 15px;
  font-weight: 400;
  letter-spacing: 0.012em;
  color: #969495;
  text-transform: uppercase;
  margin-bottom: 4px;
}
.parcel-item__meta__value {
  font-size: 25px;
  line-height: 26px;
  font-weight: 200;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.parcel-item__meta__value strong {
  font-weight: 600;
}
.parcel-item .checkbox {
  margin-top: 18px;
}
.checkbox input {
  opacity: 0;
  position: absolute;
}
.checkbox__ui {
  display: block;
  width: 42px;
  height: 42px;
  border: solid 1px #969495;
}
input:disabled + .checkbox__ui {
  border-color: #f1f0ef;
}
input:checked + .checkbox__ui {
  border: none;
  background: #ff592e url("../images/icons/check.svg") no-repeat;
  background-size: 29px 25px;
  background-position: center;
}
input:disabled:checked + .checkbox__ui {
  background-color: #f1f0ef;
}
.suite-footer {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  background: #f1f0ef;
  padding-top: 30px;
  padding-bottom: 24px;
}
.suite-footer,
.suite-footer__placeholder {
  height: 214px;
}
.suite-footer__parts {
  text-align: center;
  margin-bottom: 24px;
}
.suite-footer__parts li {
  font-size: 25px;
  line-height: 30px;
  font-weight: 200;
  text-transform: uppercase;
  display: inline-block;
  margin: 0 9px;
}
.suite-footer__parts li strong {
  font-weight: 700;
}
.suite-footer .btn {
  margin-bottom: 18px;
}
.suite-pay-btn {
  display: none;
}
.isnt-all-paid .suite-pay-btn {
  display: block;
}
.is-some-selected .suite-disabled-btn {
  display: none;
}
.suite-next-btn {
  display: none;
}
.is-some-selected.is-all-paid .suite-next-btn {
  display: block;
}
.in-local-currency {
  font-size: 13px;
  line-height: 15px;
  font-weight: 400;
  letter-spacing: 0.012em;
  color: #969495;
  text-align: center;
  text-transform: uppercase;
  visibility: hidden;
}
.isnt-all-paid .in-local-currency {
  visibility: visible;
}
.parcel-header {
  background: #f1f0ef;
  padding-top: 47px;
  padding-bottom: 22px;
}
.parcel-header__parcel {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
  margin-bottom: 21px;
}
.parcel-header__parcel small {
  font-size: 27px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 0.012em;
  text-transform: uppercase;
  color: #969495;
}
.parcel-header__parcel-meta {
  margin-bottom: 25px;
}
.parcel-header__parcel-meta__label,
.parcel-header__parcel-meta__value {
  display: block;
}
.parcel-header__parcel-meta__label {
  font-size: 13px;
  line-height: 15px;
  font-weight: 400;
  letter-spacing: 0.012em;
  color: #969495;
  text-transform: uppercase;
  margin-bottom: 4px;
}
.parcel-header__parcel-meta__value {
  font-size: 25px;
  line-height: 26px;
  font-weight: 200;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.parcel-header__parcel-meta__value strong {
  font-weight: 600;
}
.success-title {
  padding-top: 40px;
  margin-bottom: 100px;
}
.success-title img {
  margin-bottom: 22px;
}
.success-title h2 {
  font-size: 40px;
  line-height: 48px;
  font-weight: 600;
}
.success-text {
  margin-bottom: 150px;
}
.success-text p {
  font-size: 30px;
  line-height: 36px;
  font-weight: 600;
  margin-bottom: 36px;
}
.payment-form {
  position: relative;
  height: 333px;
  margin-bottom: 73px;
}
.payment-form__code-wrap,
.payment-form__main-wrap {
  position: absolute;
  height: 100%;
  width: 523px;
  border-radius: 23px;
  top: 0;
}
.payment-form__code-wrap {
  right: 0;
  background: #cac9ca;
  padding-top: 35px;
  padding-left: 374px;
}
.payment-form__code-wrap:before {
  content: '';
  display: block;
  height: 75px;
  background: #464547;
  margin-bottom: 37px;
}
.payment-form__main-wrap {
  left: 0;
  background: #f1f0ef;
  padding: 30px 0 0 34px;
  z-index: 1;
}
.payment-form label {
  font-size: 13px;
  line-height: 15px;
  font-weight: 400;
  letter-spacing: 0.012em;
  color: #969495;
  text-transform: uppercase;
  display: block;
}
.payment-form .form-control {
  font-size: 23px;
  line-height: 25px;
  font-weight: 700;
  padding: 2px 0;
  margin-bottom: 10px;
  display: inline-block;
}
.payment-form__code {
  background: #fff;
  padding: 16px 26px 17px;
  display: inline-block;
}
.payment-form__code input {
  width: 60px;
}
.payment-form__title {
  font-size: 40px;
  line-height: 48px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 17px;
}
.payment-form__number {
  margin-bottom: 18px;
}
.payment-form__number input {
  width: 300px;
}
.payment-form__date {
  margin-bottom: 18px;
}
.payment-form__date input {
  width: 35px;
}
.payment-form__date__delimetr {
  font-size: 26px;
  line-height: 26px;
  font-weight: 200;
  color: #969495;
  vertical-align: top;
  display: inline-block;
  margin: 4px 10px 0 15px;
}
.payment-form__ovner input {
  width: 450px;
}
.payment-header {
  margin-top: 50px;
  margin-bottom: 60px;
}
.payment-header--with-error {
  margin-bottom: 10px;
}
.payment-header h2 {
  font-size: 40px;
  line-height: 48px;
  font-weight: 600;
}
.payment-bottom {
  margin-bottom: 50px;
}
.payment-bottom .btn {
  margin-bottom: 13px;
}
.payment-bottom .in-local-currency {
  visibility: visible;
}
.payment-bottom__note {
  font-size: 19px;
  line-height: 23px;
  font-weight: 700;
  padding-left: 13px;
  padding-top: 4px;
}
.payment-bottom__note strong {
  color: #00f;
}
.payment-error p {
  font-size: 20px;
  line-height: 25px;
  font-weight: 600;
  letter-spacing: 0.005em;
  color: #ff0b15;
  margin-bottom: 25px;
}
