.parcel-name-block, .declaration, .parcel-info--single, .parcel-full-info
  background #ffffff
.declaration, .parcel-info--single
  border-bottom solid 1px #f2f1f0


.parcel-info
  border-top solid 1px #f1f1ef
  padding px2em(48) 0 px2em(40)
  .container
    position relative
    &:before
      content ''
      display block
      position absolute
      top px2em(-48)
      left 0
      height px2em(14)
      width px2em(12)
      .parcels-list--action-needed &
        background #ff0000
      .parcels-list--ready &
        background #ff592e
      .parcels-list--picked-up &
        background #464547
      .parcels-list--picked-up-pending &
        background #0000ff
  h4
    setFont(30, 34, 600)
    margin-bottom px2em(26,30)
  &__label
    setFont(12, 14, null, 23)
    color #969495
    text-transform uppercase
    display block
    margin-bottom px2em(10)
  &__value
    setFont(20, 24, 200)
    display block
    margin-bottom px2em(20,20)
    strong
      font-weight 600
  &__danger-note,
  &__info-note
    setFont(14, 15, 200)
    display block
    margin-top px2em(14,14)
  &__danger-note
    color #FB0000
  &__info-note
    color #0000FF
  &__controls-spacing
    display block
    height px2em(16)
  &--single
    border-top none
    .container:before
      display none




.parcel-name-block
  padding-top px2em(48)
  .container
    position relative
    &:before
      content ''
      display block
      position absolute
      top px2em(-48)
      left 0
      height px2em(14)
      width px2em(12)
      background #ff592e
  &--action-requred .container:before
    background #ff0000
  &--picked-up .container:before
    background #464547
  &--has-issue, &--had-issue
    .container:before
      background #0000ff

.parcel-full-info
  padding-top px2em(32)
  padding-bottom px2em(100)
  h2
    setFont(20, 24, 600, 12)
    margin-bottom px2em(40,20)
  &__label
    setFont(12, 14, null, 23)
    color #969495
    text-transform uppercase
    display block
    margin-bottom px2em(16,12)
  &__value
    setFont(20, 24, 200)
    display block
    margin-bottom px2em(56,20)
  &__photo-prev
    box-sizing border-box
    width px2em(160)
    height px2em(160)
    border solid 1px #a2a2a3
    margin-bottom px2em(30)



.action-requred-block
  background #ff0000
  color #ffffff
  padding px2em(50) 0 px2em(20)
  &__message
    setFont(30, 36, 600)
    display block
    margin-bottom px2em(30,30)
  &__secondary-text
    setFont(25, 30, 200)
    p
      margin-bottom px2em(30,25)



.issue-alert-block
  background #0000ff
  color #ffffff
  padding px2em(50) 0 px2em(20)
  &--resolved
    background #464547
  &__primary-text
    setFont(25, 30, 600)
    p
      margin-bottom px2em(30,25)
  &__secondary-text
    setFont(25, 30, 200)
    p
      margin-bottom px2em(30,25)
