.settings-block
  background #f1f1ef
  padding-top px2em(60)
  padding-bottom px2em(40)
  &--alt-bg
    background #ffffff
  h3
    setFont(35, 42, 600)
    max-width px2em(700,35)
    margin-bottom px2em(12,35)
  &__sub-title
    setFont(20, 24, 200)
    max-width px2em(700,20)
    margin-bottom px2em(32,20)





.storage-select-item
  label
    cursor pointer
    user-select none
    display block
  .radio
    margin-bottom px2em(16)
  &__name
    setFont(30, 36, 600)
    margin-bottom px2em(22,30)
    small
      font-size px2em(12,30)
      line-height px2em(14,12)
      font-weight 600
      text-transform uppercase
      display block
  &__map
    setFont(14, 18, 200, 12)
    display inline-block
    border-bottom solid 1px





.alert-select-item
  margin-bottom px2em(50)
  label
    cursor pointer
    user-select none
    display block
  .checkbox
    margin-bottom px2em(18)
  &__name, &__value
    setFont(30, 36, 600)
  &__setup
    setFont(14, 18, 200, 12)
    display inline-block
    border-bottom solid 1px
    margin-top px2em(12,14)
    &:hover
      border none
      margin-bottom 1px;



.phone-input
  &__short
    width px2em(56)
    text-align center
  &__long
    width 100%
    text-align center
  .input-group__addon
    setFont(20, 24, 200)
    padding 0 px2em(5,20)
    &:first-child
      padding-left 0




.settings-contacts-form
  padding px2em(30) 0 px2em(10)
  &__descr
    setFont(20, 24, 200)
    max-width px2em(480,20)
    margin-bottom px2em(28,20)
  .form-group
    padding-top px2em(10)
  .text-input
    setFont(20, 24)
    padding px2em(2,20) 0
  .form-help
    setFont(12, 14, 200)
    text-transform uppercase
    color #969495
    margin-top px2em(18,12)
  &__resend
    setFont(14, 16, 200)
    margin-top px2em(35,14)
    button
      display inline-block
      background none
      border none
      padding 0
      margin 0
      border-bottom solid 1px
  &__update
    position relative



.settings-pass-form
  padding px2em(30) 0 px2em(40)
  .form-group
    padding-top px2em(10)
    padding-bottom px2em(30)
  .text-input
    setFont(20, 24)
    padding px2em(2,20) 0

.update-notification
  setFont(18, 22, 300)
  display none
  position absolute
  bottom px2em(80,18)

