


<!-- Виджет фотографирования -->

<div class="js-photos-widget-template row hidden">
  <div class="col-xs-4">
    <button type="button" class="btn btn-primary"><%- trans('Добавить') %></button>
  </div>
</div>
<div class="js-photos-widget-item-template col-xs-4 hidden">
  <a href="" data-lightbox="" class="thumbnail">
    <img src="">
  </a>
  <span class="fa fa-trash-o remove-photo-btn" title="<%- trans('Удалить') %>"></span>
</div>

<div class="photo-camera-popup">
  <div class="fake-camera">
    <p class="fake-camera__note"><%- trans('Кликните на картинке для имитации фотографироания') %></p>
  </div>
</div>

<div class="photo-confirm-popup">
  <div class="photo-confirm-popup__head"><%- trans('Проверте полученную фотографию') %></div>
  <div class="photo-confirm-popup__photo"></div>
  <div class="photo-confirm-popup__btns">
    <button class="btn btn-primary"><%- trans('Принять') %></button>
    <button class="btn btn-warning"><%- trans('Заменить') %></button>
    <button class="btn btn-danger"><%- trans('Отмена') %></button>
  </div>
</div>

<script type="text/javascript">
  $(function(){

    var lastId = 0;
    function getId() { return lastId++; }

    var templates = {
      widget: $('.js-photos-widget-template'),
      photoItem: $('.js-photos-widget-item-template')
    }
    function getTemplate(name) {
      return templates[name].clone().removeClass('hidden');
    }

    var $camera = $('.photo-camera-popup');
    var $confirm = $('.photo-confirm-popup');

    $('[data-photos-widget]').each(function(){
      var $widget = $(this);
      var id = "photos-widget-" + getId();
      var photos = $widget.data('photos-widget').split(',');
      var $wrap = getTemplate('widget').appendTo($widget);

      $wrap.find('.btn-primary').click(showCamera);

      $wrap.on('click', '.fa-trash-o', remove);

      function add(url) {
        getTemplate('photoItem')
          .find('a').attr({href: url, 'data-lightbox': id}).end()
          .find('img').attr({src: url}).end()
          .prependTo($wrap);
        $widget.data('count', $widget.data('count') + 1);
        $widget.trigger('change', $widget.data('count'));
      }

      function showCamera() {
        var url = photos[Math.floor(Math.random() * photos.length)];
        $camera
          .find('.fake-camera')
            .css({'background-image': 'url(' + url + ')'})
            .off('click').on('click', function(){
              $camera.hide();
              showConfirm(url);
            })
          .end()
          .show();
      }

      function showConfirm(url) {
        $confirm
          .find('.photo-confirm-popup__photo')
            .css({'background-image': 'url(' + url + ')'})
            .end()
          .find('.btn-primary')
            .off()
            .click(function(){
              $confirm.hide();
              add(url);
            })
            .end()
          .find('.btn-warning')
            .off()
            .click(function(){
              $confirm.hide();
              showCamera();
            })
            .end()
          .find('.btn-danger')
            .off()
            .click(function(){
              $confirm.hide();
            })
            .end()
          .show();
      }

      function remove() {
        $(this).parent().remove();
        $widget.data('count', $widget.data('count') - 1);
        $widget.trigger('change', $widget.data('count'));
      }

      var initialCount = $widget.data('count');
      for (var i = 0; i < initialCount; i++) {
        add(photos[Math.floor(Math.random() * photos.length)]);
      }

    });



    $('[data-single-photo]').each(function(){
      var $btn = $(this);
      var photos = $btn.data('single-photo').split(',');
      var onSuccessUrl = $btn.data('on-success');

      var $camera = $('.photo-camera-popup');
      var $confirm = $('.photo-confirm-popup');

      function showCamera() {
        var url = photos[Math.floor(Math.random() * photos.length)];
        $camera
          .find('.fake-camera')
            .css({'background-image': 'url(' + url + ')'})
            .off('click').on('click', function(){
              $camera.hide();
              showConfirm(url);
            })
          .end()
          .show();
      }

      function showConfirm(url) {
        $confirm
          .find('.photo-confirm-popup__photo')
            .css({'background-image': 'url(' + url + ')'})
            .end()
          .find('.btn-primary')
            .off()
            .click(function(){
              $confirm.hide();
              location.href = onSuccessUrl;
            })
            .end()
          .find('.btn-warning')
            .off()
            .click(function(){
              $confirm.hide();
              showCamera();
            })
            .end()
          .find('.btn-danger')
            .off()
            .click(function(){
              $confirm.hide();
            })
            .end()
          .show();
      }

      $btn.click(showCamera);

    })

  });

</script>

<!-- / Виджет фотографирования -->


