<%

  function extend(target /*, mixin1, mixin2...*/) {
    var length = arguments.length
      , i, prop;
    for (i = 1; i < length; i++) {
      for (prop in arguments[i]) {
        target[prop] = arguments[i][prop];
      }
    }
    return target;
  }

  var options = (function(){try{return PRIMARY_NAVBAR_OPTIONS}catch(e){return {}}}());

  options = extend({exitBtn: true}, options);

  var title = (function(){try {return TITLE}catch(e){return ''}}());
  var title2 = (function(){try {return TITLE2}catch(e){return ''}}());

%>



<nav class="navbar navbar-static-top navbar-inverse navbar-ztop" role="navigation">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-0">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <% if (title) { %>
        <span class="navbar-brand navbar-brand--auto-height">
          <%- title %>
          <% if (title2) { %>
            <br><small><%- title2 %></small>
          <% } %>
        </span>
      <% } %>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse-0">
      <% include lang-select %>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown js-storage-dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <span class="js-current-val"><%- trans('Лаппеенранта') %></span>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li class="active"><a href="#"><%- trans('Лаппеенранта') %></a></li>
            <li><a href="#"><%- trans('Иматра') %></a></li>
            <li><a href="#"><%- trans('Третий') %></a></li>
          </ul>
        </li>
        <li class="dropdown js-location-dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <span class="js-current-val"></span>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="<%- pageUrl('acceptance--start') %>"><%- trans('Приемка') %></a></li>
            <li><a href="<%- pageUrl('storage-list') %>"><%- trans('Склад') %></a></li>
            <li><a href="<%- pageUrl('issuance--queue') %>"><%- trans('Выдача') %></a></li>
            <li><a href="<%- pageUrl('issues--list') %>"><%- trans('Проблемы') %></a></li>
            <li><a href="<%- pageUrl('payments-list') %>"><%- trans('Платежи') %></a></li>
          </ul>
        </li>
        <% if (options.exitBtn) { %>
          <li><a href="<%- pageUrl('enter') %>"><%- trans('Выйти') %></a></li>
        <% } %>
      </ul>
    </div>

  </div>

  <script type="text/javascript">
    $('.js-location-dropdown').each(function() {
      var path = location.pathname.split('/');
      var pathFile = path[path.length - 1];
      var menuItemId = 1;
      var regexps = [/^acceptance/, /^storage/, /^issuance-be/, /^issues/, /^payments/];
      for (var i = 0; i < regexps.length; i++) {
        if (regexps[i].test(pathFile)) {
          menuItemId = i;
          break;
        }
      }
      $('.js-current-val', this).text(
        $('.dropdown-menu li', this).eq(menuItemId).addClass('active').text()
      );
    });
    $('.js-storage-dropdown').each(function() {
      $curVal = $('.js-current-val', this);
      $('.dropdown-menu a', this).click(function(e) {
        e.preventDefault();
        $(this).parent()
          .siblings().removeClass('active').end()
          .addClass('active');
        $curVal.text($(this).text());
      })
    });
  </script>

</nav>


