<% var INTRO_OPT = {bodyClass: 'alt-bg-1'} %><% include _inc/layout/intro %>


<% include _inc/headers/main %>

<div class="suite-header">
  <div class="container">
    <div class="suite-header__suite">
      <small><%- trans('Сьют') %></small>
      #54637586
    </div>
  </div>
</div>


<!-- По идее это такая же форма как в parcel.html в ней только чекбоксы посылок.
     Наверное можно один обработчик использовать. -->
<form class="js-parcels-sel">

  <div class="parcel-list">
    <div class="parcel-list__head">
      <div class="container">
        <div class="row">
          <div class="col-1">
            <img src="<%- staticUrl('images/icons/arr-down.svg') %>" width="39" height="47">
          </div>
          <div class="col-7">
            <h3><%- trans('Посылки, которые вы можете забрать') %></h3>
          </div>
        </div>
      </div>
    </div>
    <ul class="parcel-list__list">
      <li>
        <% include _inc/parcel-list/item-1 %>
      </li>
      <li>
        <% include _inc/parcel-list/item-2 %>
      </li>
      <li>
        <% include _inc/parcel-list/item-3 %>
      </li>
      <li>
        <% include _inc/parcel-list/item-4 %>
      </li>
    </ul>
  </div>

  <% include _inc/footer %>

</form>



<% include _inc/layout/outro %>
