<div class="panel panel-default">
  <div class="panel-heading collapsed" data-toggle="collapse" data-target="#parcel-collapse-id-1">
    <h4 class="panel-title">
      <%- trans('Информация о посылке') %>
    </h4>
  </div>
  <div id="parcel-collapse-id-1" class="panel-collapse collapse">
    <div class="panel-body">
      <% PARCEL_FORM_INCOMPLETE = false %>
      <% include ../storage/parcel-form-main %>
    </div>
  </div>
</div>

<% include suite-issues %>

<% include ../storage/parcel-form-bottom %>
