<div class="header">
  <div class="container">
    <div class="header__left">
      <a href="search.html" class="header__logo">
        <img src="<%- staticUrl('images/illustrations/logo.svg') %>">
      </a>
    </div>
    <div class="header__right">
      <ul class="header-lang">
        <li class="active"><span><%- trans('RU') %></span></li>
        <li><a href="#TODO"><%- trans('EN') %></a></li>
      </ul>
      <!-- <ul class="header-lang">
        <li><a href="#TODO"><%- trans('RU') %></a></li>
        <li class="active"><span><%- trans('EN') %></span></li>
      </ul> -->
    </div>
  </div>
</div>
