<div class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-2 control-label"><%- trans('Тип посылки') %></label>
    <div class="col-sm-10">
      <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-primary active">
          <input type="radio" name="options-123" id="option1" checked> <%- trans('Европейская') %>
        </label>
        <label class="btn btn-primary">
          <input type="radio" name="options-123" id="option2"> <%- trans('Транзитная') %>
        </label>
      </div>
    </div>
  </div>
</div>
