<table class="table table-condensed sorted-table">
  <thead>
    <tr>
      <th class="sorted-asc"><%- trans('Номер посылки') %></th>
      <th><%- trans('Трекинг') %></th>
      <th><%- trans('На складе с') %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <a href="<%- pageUrl('storage-parcel-incomplete') %>">P3950621</a>
      </td>
      <td>1Z6R646E0319744877</td>
      <td>13.06.2014 11:35</td>
    </tr>
    <tr>
      <td>
        <a href="<%- pageUrl('storage-parcel-incomplete') %>">P3950662</a>
      </td>
      <td>1Z6R646E0319744871</td>
      <td>13.06.2014 11:35</td>
    </tr>
    <tr>
      <td>
        <a href="<%- pageUrl('storage-parcel-incomplete') %>">P3950643</a>
      </td>
      <td>1Z6R646E0319744872</td>
      <td>13.06.2014 21:01</td>
    </tr>
  </tbody>
</table>
