<!-- Окно доверенности -->
<!-- PPF = proxy person form -->
<!-- %TODO AJAX -->
<div class="modal fade js-ppf" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-top-header" data-dismiss="modal">
    <div class="container">
      <div class="modal-top-header-logo">
        <img src="<%- staticUrl('images/illustrations/logo.svg') %>">
      </div>
      <p class="modal-top-header-slogan">
        <%- trans('Ваше почтовое отделение<br>в Финляндии') %>
      </p>
      <button type="button" class="modal-top-header-close">&times;</button>
    </div>
  </div>
  <div class="modal-dialog">
    <div class="modal-content">

      <ul style="display:none" class="js-ppf__item-template">
        <li class="js-ppf__item">
          <span class="ppf__menu__controls">
            <button
              type="button"
              class="ppf__menu__controls__edit js-ppf__item__edit"
            ></button>
            <button
              type="button"
              class="ppf__menu__controls__remove js-ppf__item__remove"
            ></button>
          </span>
          <span class="ppf__menu__name js-ppf__item__name"></span>
        </li>
      </ul>

      <div class="ppf">
        <div class="ppf__bottom">
          <h3
            class="js-ppf__form-title"
            data-on-edit="<%- trans('Редактирование доверенности') %>"
            data-on-new="<%- trans('Новая доверенность') %>"
          ></h3>
          <div class="ppf__field ppf__field--name">
            <input
              type="text"
              maxlength="100"
              placeholder="<%- trans('Имя, фамилия') %>"
              class="text-input js-ppf__name-field js-fix-ph"
            >
            <p class="ppf__field__help"><%- trans('Латиницей, как в заграничном паспорте') %></p>
          </div>
          <div class="ppf__field ppf__field--passport">
            <input
              type="text"
              maxlength="12"
              placeholder="<%- trans('Номер заграничного паспорта') %>"
              class="text-input js-ppf__passport-field js-fix-ph"
            >
          </div>
          <div class="ppf__save">
            <button type="button" class="btn btn-block btn-orange js-ppf__save"><%- trans('Сохранить') %></button>
          </div>
        </div>
        <div class="ppf__top js-ppf__menu-wrap">
          <h3><%- trans('Выписанные доверенности') %></h3>
          <ul
            class="ppf__menu js-ppf__menu"
            data-remove-confirm="<%- trans('Вы уверены что хотите удалить эту доверенность?') %>"
          >
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>
