<div class="success-title">
    <div class="container">
        <img src="<?php echo $this->getSkinUrl("images/icons/success.svg")?>" width="30" height="30">
        <h2><?php echo $this->__("Поздравляем, всё успешно! Мы&nbsp;готовим ваши посылки к&nbsp;выдаче.")?></h2>
    </div>
</div>

<div class="success-text">
    <div class="container">
        <p>
            <?php echo $this->__("Мы пригласим Вас когда всё будет готово")?>
        </p>
    </div>
</div>


<div class="success-btn">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <a href="/" class="btn btn-block btn-blue"><?php echo $this->__("Закончить")?></a>
            </div>
        </div>
    </div>
</div>