<form method="post" class="form js-payment-form" autocomplete="off" action="<?php echo $this->getUrl('pochta/payments/payBraintree') ?>">

    <div class="payment-header">
        <div class="container">
            <h2><?php echo $this->__("Для оплаты пошлин и услуг, введите данные карты") ?></h2>
        </div>
    </div>
    <?php if (Mage::app()->getRequest()->getParam('error')): ?>
        <div class="payment-error">
            <div class="container">
                <?php if (Mage::app()->getRequest()->getParam('errorDesc')): ?>
                    <p><?php echo Mage::app()->getRequest()->getParam('errorDesc') ?></p>
                <?php else: ?>
                    <p><?php echo $this->__("Проверьте правильность вводимых данных") ?></p>
                <?php endif ?>
            </div>
        </div>
    <?php endif ?>
    <div class="container">
        <div class="payment-form">
            <div class="payment-form__main-wrap">
                <h3 class="payment-form__title js-payment-form__cart-type">&nbsp;</h3>

                <div class="payment-form__number">
                    <input type="text" name="number" class="form-control js-payment-form__number" id="payment-number" />
                    <label for="payment-number"><?php echo $this->__("Номер карты") ?></label>
                </div>
                <div class="payment-form__date">
                    <input type="text" name="month" class="form-control js-payment-form__month" id="payment-month" pattern="\d*" novalidate maxlength="2" />
                    <span class="payment-form__date__delimetr">/</span>
                    <input type="text" name="year" class="form-control js-payment-form__year" pattern="\d*" novalidate maxlength="2" />
                    <label for="payment-month"><?php echo $this->__("Срок действия") ?></label>
                </div>
                <div class="payment-form__ovner">
                    <input type="text" name="cardholderName" class="form-control" id="payment-name" />
                    <label for="payment-name"><?php echo $this->__("Владелец карты (как на карте)") ?></label>
                </div>
            </div>
            <div class="payment-form__code-wrap">
                <div class="payment-form__code">
                    <input type="password" name="cvv" class="form-control js-payment-form__code" id="payment-code" pattern="\d*" novalidate />
                    <label for="payment-code"><?php echo $this->__("CVC код") ?></label>
                </div>
            </div>
        </div>
    </div>
    <?php

    $kiosk = Mage::getSingleton('core/session')->getKiosk();

    $deposit_amount = 0.0;
    $service_amount = 0.0;
    $refundable_deposit = 0.0;
    foreach ($kiosk['parcels'] as $parcelId) {
        $parcel = Mage::getModel('catalog/product')->load($parcelId);
        if (!Mage::helper('pochta')->isPaid($parcel)) {
            $deposit_amount += Mage::helper('pochta')->getRefundableAmount($parcel);
            $service_amount += Mage::helper('pochta')->getNonRefundableAmount($parcel);
        }
        $refundable_deposit += Mage::helper('pochta')->getRefundableAmount($parcel);
    }
    $total = $deposit_amount + $service_amount;

    try {
        $rate = Mage::helper('directory')->currencyConvert(1, 'EUR', 'RUB');
        $inRubles = $total * $rate;
        //$inRubles = Mage::helper('directory')->currencyConvert($total, 'RUB', 'EUR');
    }
    catch(Exception $e) {
        $inRubles = '(курс не доступен)';
    }
    ?>

    <input type="hidden" name="success_url" value="<?php echo 'pochta/kiosk/paymentDone' ?>" />
    <input type="hidden" name="error_url" value="<?php echo 'pochta/kiosk/payment' ?>" />
    <input type="hidden" name="error_url_params" value="<?php echo 'error=1' ?>" />

    <input type="hidden" name="carrier_name_first" value="<?php echo $kiosk['carrier_name_first'] ?>" />
    <input type="hidden" name="carrier_name_last" value="<?php echo $kiosk['carrier_name_last'] ?>" />
    <input type="hidden" name="consignee_address_line" value="<?php echo $kiosk['consignee_address_line'] ?>" />
    <input type="hidden" name="consignee_address_city" value="<?php echo $kiosk['consignee_address_city'] ?>" />
    <input type="hidden" name="consignee_address_country" value="<?php echo $kiosk['consignee_address_country'] ?>" />
    <input type="hidden" name="consignee_address_postcode" value="<?php echo $kiosk['consignee_address_postcode'] ?>" />

    <input type="hidden" name="deposit_amount" value="<?php echo $deposit_amount ?>">
    <input type="hidden" name="service_amount" value="<?php echo $service_amount ?>">
    <input type="hidden" name="parcelId" value="<?php echo $parcelId ?>">

    <div class="payment-bottom">
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <button type="submit" class="btn btn-block btn-orange js-payment-form__submit">
                        <?php echo $this->__('Оплатить € ' . $total) ?>
                    </button>
                    <p class=" in-local-currency">
                        <?php echo $inRubles ?> <?php echo $this->__('руб. по курсу ЦБ РФ') ?>
                    </p>
                </div>
                <div class="col-4 payment-bottom__note">
                    <?php if ($refundable_deposit > 0): ?>
                    <p>
                        <?php echo $this->__('Мы вернем вам депозит размером в') ?>
                        <strong>€ <?php echo $refundable_deposit; ?></strong>
                        <?php echo $this->__('после того, как вы пройдете границу') ?>
                    </p>
                    <?php endif; ?>
                </div>
            </div>
        </div>
    </div>

</form>