<div class="container">
    <br/>

    <h2>Всё готово для оплаты на PayPal. Нажмите кнопку, если редирект не произойдёт автоматически.</h2>

    <br/>

    <?php

    $kiosk = Mage::getSingleton('core/session')->getKiosk();

//    $order_id = Mage::registry('order_id');

    $deposit_amount = 0.0;
    $service_amount = 0.0;
    $refundable_deposit = 0.0;
    $parcels = '';
    $parcelsSku = '';
    foreach ($kiosk['parcels'] as $parcelId) {
        $parcel = Mage::getModel('catalog/product')->load($parcelId);
        if (!Mage::helper('pochta')->isPaid($parcel)) {
            $deposit_amount += Mage::helper('pochta')->getRefundableAmount($parcel);
            $service_amount += Mage::helper('pochta')->getNonRefundableAmount($parcel);
        }
        $refundable_deposit += Mage::helper('pochta')->getRefundableAmount($parcel);

        if ($parcels != '') {
            $parcels .= ',';
            $parcelsSku .= ', ';
        }
        $parcels .= $parcelId;
        $parcelsSku .= $parcel->getSku();

    }
    $total = $deposit_amount + $service_amount;
    $amount_description = $service_amount > 0 ? 'S' . $service_amount : '';
    if ($deposit_amount > 0 && $service_amount > 0) {
        $amount_description .= '/';
    }
    $amount_description .= $deposit_amount > 0 ? 'D' . $deposit_amount : '';

    $websiteID = Mage::app()->getWebsite()->getId();
    $storeID = Mage::app()->getStore()->getId();
    $sandbox_flag = Mage::app()->getWebsite($websiteID)->getConfig('payment/paypal_standard/sandbox_flag');
    $business_account = Mage::app()->getWebsite($websiteID)->getConfig('paypal/general/business_account');
    //$sale = Mage::app()->getWebsite($websiteID)->getConfig('payment/paypal_standard/payment_action');

    $sandbox = '';
    if ($sandbox_flag) {
        $sandbox = 'sandbox.';
    }

    $successUrl = Mage::getUrl('pochta/kiosk/paymentDone');
    $errorUrl = Mage::getUrl('pochta/kiosk/billing');
    ?>

    <form action="https://www.<?php echo $sandbox ?>paypal.com/cgi-bin/webscr" method="post" id="paypal_standard_checkout">

        <input type="hidden" name="custom" value="<?php echo $parcels ?>">
        <input type="hidden" name="item_name" value="<?php echo ($this->__('Pochta.fi warehouse service for ') . $parcelsSku . ($amount_description ? '. ' . $amount_description : '')) ?>">

        <input type="hidden" name="cmd" value="_xclick">
        <INPUT TYPE="hidden" name="charset" value="utf-8">
        <input type="hidden" name="return" value="<?php echo $successUrl ?>">
<!--			<input type="hidden" name="notify_url" value="<?php echo $successUrl ?>"> -->
        <input type="hidden" name="cancel_return" value="<?php echo $errorUrl ?>">
        <input type="hidden" name="currency_code" value="EUR">

        <input type="hidden" name="business" value="<?php echo $business_account ?>">
        <input type="hidden" name="amount" value="<?php echo $total ?>">
        <input type="hidden" name="no_shipping" value="1">
        <input type="hidden" name="no_note" value="1">

        <input type="hidden" name="solution_type" value="sole">
        <input type="hidden" name="landing_page" value="billing">
        <input type="hidden" name="paymentaction" value="authorization">

<?php if (isset($order_id)): ?>
        <input type="hidden" name="invoice" value="<?php echo $order_id ?>">
<?php endif; ?>
        <input type="hidden" name="lc" value="<?php echo $kiosk['consignee_address_country'] ?>">
        <input type="hidden" name="rm" value="2">

        <input type="hidden" name="email" value="<?php //echo $customer->getEmail() ?>">
        <input type="hidden" name="first_name" value="<?php echo $kiosk['carrier_name_first'] ?>">
        <input type="hidden" name="last_name" value="<?php echo $kiosk['carrier_name_last'] ?>">
        <input type="hidden" name="country" value="<?php echo $kiosk['consignee_address_country'] ?>">
        <input type="hidden" name="zip" value="<?php echo $kiosk['consignee_address_postcode'] ?>">
        <input type="hidden" name="city" value="<?php echo $kiosk['consignee_address_city'] ?>">
        <input type="hidden" name="address1" value="<?php echo $kiosk['consignee_address_line'] ?>">

        <input type="submit" class="btn btn-block btn-orange" value="<?php echo $this->__('Оплатить') . ' € ' . $total ?>">
        <?php
        try {
            $rate = Mage::helper('directory')->currencyConvert(1, 'EUR', 'RUB');
            $inRubles = round(($deposit_amount + $service_amount) * $rate);
            //$inRubles = Mage::helper('directory')->currencyConvert($deposit_amount + $service_amount, 'RUB', 'EUR');
        }
        catch(Exception $e) {
            $inRubles = '(курс не доступен)';
        }
        ?>
        <br/>
        <span>
            <?php echo $this->__('Ориентировочно %s руб. по курсу ЦБ РФ', $inRubles) ?>
        </span>
    </form>

    <br/>
    <?php if ($refundable_deposit > 0): ?>
    <p>
        <?php echo $this->__('Мы вернем вам депозит размером в') ?>
        <strong>€ <?php echo $refundable_deposit; ?></strong>
        <?php echo $this->__('после того, как вы пройдете границу') ?>
    </p>
    <?php endif; ?>

    <script type="text/javascript">
        document.getElementById("paypal_standard_checkout").submit();
    </script>

</div>