<div class="form-title">
    <div class="container">
        <h1><?php echo $this->__("Укажите государственный регистрационный номер транспортного средства, на котором вы будете вывозить посылку") ?></h1>
    </div>
</div>

<form class="form form-large" method="post" action="<?php echo $this->getUrl('pochta/kiosk/transportPost') ?>">

    <div class="container">
        <div class="form-group">
            <select name="transport_nationality_code" class="form-control">
                <option selected value="RU"><?php echo $this->__("Россия") ?></option>
                <option value="UA"><?php echo $this->__("Украина") ?></option>
                <option value="FI"><?php echo $this->__("Финляндия") ?></option>
                <option value="NA"><?php echo $this->__("Другая") ?></option>
            </select>
        </div>

        <div class="form-group form-group--extra-space">
            <input type="text" name="transport_means_id" class="form-control" placeholder="c090mk78rus">
            <?php if (Mage::app()->getRequest()->getParam('error')): ?>
                <p class="form-error">
                    <?php echo $this->__("Проверьте правильность номера или обратитесь к менеджеру") ?>
                </p>
            <?php endif; ?>
        </div>

        <div class="form-submit">
            <div class="row">
                <div class="col-4">
                    <button type="submit" class="btn btn-block btn-blue"><?php echo $this->__("Далее") ?></button>
                </div>
            </div>
        </div>
    </div>

</form>