<div class="container">
    <br>

    <div class="row">
        <?php $stores = Mage::getResourceSingleton('catalog/product')->getAttribute('reception_type')->getSource()->getAllOptions(false); ?>
        <?php foreach ($stores as $option): ?>

            <div class="col-sm-4">
                <a class="thumbnail thumbnail-link"
                   href="<?php echo $this->getUrl('pochta/reports/warehousePost', array('reception_type' => $option['value'])) ?>">
                    <?php echo $this->__($option['label']) ?>
                </a>
            </div>

        <?php endforeach ?>
    </div>
</div>