<% var TITLE = 'Приемка #432' %>
<% include includes/layout/intro %>
<% include includes/layout/primary-navbar %>


<% include includes/acceptance/header %>


<div class="container">

  <div class="alert alert-info">
    <%- trans('Распечатайте наклейку и наклейте её на посылку. Завершите приёмку.') %>
  </div>

  <div class="media">
    <div class="pull-left">
      <div class="sticker media-object">
        <img class="sticker__img" src="<%- staticUrl('images/samples/u420.jpg') %>">
        <div class="sticker__bottom clearfix">
          <p class="pull-left">Petrov</p>
          <p class="pull-right">EU</p>
        </div>
      </div>
    </div>
    <div class="media-body">
    </div>
  </div>
  <br>
  <button type="button" class="btn btn-primary" onclick="$('.js-bottom-btn').removeAttr('disabled')">
    <i class="fa fa-print"></i> <%- trans('Распечатать наклейку') %>
  </button>



  <hr>
  <a href="<%- pageUrl('acceptance-step-1') %>" class="btn btn-primary js-bottom-btn" disabled><%- trans('Следующая приемка') %></a>
  <a href="<%- pageUrl('storage-list') %>" class="btn btn-default js-bottom-btn" disabled><%- trans('Завершить приемку') %></a>

</div>




<% include includes/layout/outro %>
