<% include includes/layout/intro %>

<% var PRIMARY_NAVBAR_OPTIONS = {exitBtn: false} %>
<% include includes/layout/primary-navbar %>


<div class="container">

  <br>
  <br>
  <br>

  <div class="row">
    <div class="col-sm-6">
      <a class="thumbnail thumbnail-link"
        href="<%- pageUrl('acceptance--start') %>"
      ><%- trans('Принять посылку') %></a>
    </div>
    <div class="col-sm-6">
      <a class="thumbnail thumbnail-link"
        href="<%- pageUrl('issuance--queue') %>"
      ><%- trans('Выдача') %></a>
    </div>
    <div class="col-sm-4">
      <a class="thumbnail thumbnail-link"
        href="<%- pageUrl('storage-list') %>"
      ><%- trans('Склад') %></a>
    </div>
    <div class="col-sm-4">
      <a class="thumbnail thumbnail-link"
        href="<%- pageUrl('issues--list') %>"
      ><%- trans('Проблемы') %></a>
    </div>
    <div class="col-sm-4">
      <a class="thumbnail thumbnail-link"
        href="<%- pageUrl('payments-list') %>"
      ><%- trans('Платежи') %></a>
    </div>
  </div>


</div>



<% include includes/layout/outro %>
