<% var TITLE = trans('Инвентаризация #13') %>
<% include includes/layout/intro %>
<% include includes/layout/primary-navbar %>


<% include includes/inventory/header %>


<div class="container">

  <a href="<%- pageUrl('inventory-scan') %>" class="btn btn-primary"><%- trans('Сканирование') %></a>

  <hr>
  <h4><%- trans('Просканированные посылки') %></h4>
  <hr>

  <div class="pull-right">
    <i class="fa fa-question-circle icon-btn inventory-help-icon"
      data-container="body" data-toggle="popover" data-placement="left"
      data-trigger="hover click"
      data-title="<%- trans('Текущее состояние инвентаризации') %>"
      data-content="<%- trans('Ниже показан список посылок, которые находятся на складе. Просканированные посылки удаляются из списка. По мере проведения инвентаризации вы можете видеть посылки, которые не были просканированы.') %>"
    ></i>
  </div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li class="active">
      <a href="#in-place-1" role="tab" data-toggle="tab">
        <%- trans('На месте') %> <span class="badge">43 <%- trans('из') %> 564</span>
      </a>
    </li>
    <li>
      <a href="#not-scaned-1" role="tab" data-toggle="tab">
        <%- trans('Не просканированные') %> <span class="badge">521</span>
      </a>
    </li>
    <li>
      <a href="#found-1" role="tab" data-toggle="tab">
        <%- trans('Найденные') %> <span class="badge">8</span>
      </a>
    </li>
  </ul>
  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane active" id="in-place-1">
      <br>
      <% include includes/storage/parcel-list %>
    </div>
    <div class="tab-pane" id="not-scaned-1">
      <br>
      <% include includes/storage/parcel-list-alt-1 %>
    </div>
    <div class="tab-pane" id="found-1">

      <br>
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li class="active">
          <a href="#written-off-1" role="tab" data-toggle="tab">
            <%- trans('Ранее списанные') %> <span class="badge">5</span>
          </a>
        </li>
        <li>
          <a href="#not-registered-1" role="tab" data-toggle="tab">
            <%- trans('Незарегистрированные') %> <span class="badge">2</span>
          </a>
        </li>
        <li class="disabled">
          <a href="#"><%- trans('Неопознанные') %> <span class="badge">0</span></a>
        </li>
        <li>
          <a href="#from-other-1" role="tab" data-toggle="tab">
            <%- trans('Должны быть на другом складе') %> <span class="badge">1</span>
          </a>
        </li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane active" id="written-off-1">
          <br>
          <% include includes/storage/parcel-list-alt-2 %>
        </div>
        <div class="tab-pane" id="not-registered-1">
          <br>
          <% include includes/storage/parcel-list %>
        </div>
        <div class="tab-pane" id="from-other-1">
          <br>
          <% include includes/storage/parcel-list-alt-3 %>
        </div>
      </div>

    </div>
  </div>

  <% include includes/pagination %>

</div>

<% include includes/layout/outro %>
