<% var TITLE = trans('Инвентаризация #13') %>
<% include includes/layout/intro %>
<% include includes/layout/primary-navbar %>


<% include includes/inventory/unregistered-header %>


<div class="container">

  <div class="alert alert-info">
    <%- trans('Сделайте фотографии посылки и накладной. Убедитесь, что вся информация на фотографиях хорошо читаема.') %><br>
    <strong><%- trans('Фотография посылки обязательна.') %></strong>
  </div>

  <% include includes/parcel-form/photos--empty %>

  <form action="<%- pageUrl('inventory--unregistered-3') %>">
    <input type="submit" class="btn btn-primary" disabled value="<%- trans('Продолжить') %>" id="submit-btn-1">
  </form>

  <br>
  <br>
  <br>

</div>

<script type="text/javascript">
  $('#parcel-photos').change(function(e, count) {
    $('#submit-btn-1').prop('disabled', count == 0);
  });
</script>


<% include includes/layout/outro %>
