<% var TITLE = trans('Выдача #638') %>
<% include includes/layout/intro %>
<% include includes/layout/primary-navbar %>

<div class="container">

  <div class="alert alert-info">
    <%- trans('Объясните клиенту почему выдача на данный момент невозможна. Распечатайте инструкцию и передайте её клиенту.') %>
  </div>

  <button class="btn btn-default btn-xs" onclick="$('.js-manual-alt').toggle()">
    <%- trans('Нажмите чтобы показать инструкцию для доверенного лица<br>(в реальном приложении вместо этой кнопки будет автоматический выбор нужной иснструкции)') %>
  </button>

  <h3><%- trans('Инструкция для клиента') %></h3>

  <div class="js-manual-alt">
    <ol>
      <li><%- trans('Зайдите в личный кабинет на сайте pochta.fi.') %></li>
      <li><%- trans('Перейдите в раздел Настройки') %></li>
      <li><%- trans('Исправьте свои имя и фамилию в точности как указано в вашем загран паспорте') %></li>
      <li><%- trans('Получите посылки в офисе pochta.fi') %></li>
    </ol>
  </div>
  <div class="js-manual-alt" style="display:none">
    <p><%- trans('Передайте следующую инструкцию владельцу сьюта') %></p>
    <ol>
      <li><%- trans('Зайдите в личный кабинет на сайте pochta.fi.') %></li>
      <li><%- trans('Нажмите на кнопку Подробнее у соответствующей посылки в таблице Вы можете забрать эти посылки') %></li>
      <li><%- trans('Исправьте имя доверенного лица в точности как указано у него в загран паспорте') %></li>
      <li><%- trans('Сообщите доверенному личу, чтобы он получил посылки в офисе pochta.fi') %></li>
    </ol>
  </div>



  <p><%- trans('Для вашего удобства в наших офисах установлены компьютеры.') %></p>

  <br>

  <p>
    <button class="btn btn-primary"><%- trans('Распечатать') %></button>
  </p>


  <br>
  <hr>
  <a href="<%- pageUrl('issuance--queue') %>" class="btn btn-default"><%- trans('Перейти к очереди на выдачу') %></a>

</div>





<% include includes/layout/outro %>
