<% var TITLE = trans('Выдача') %>
<% include includes/layout/intro %>
<% include includes/layout/primary-navbar %>


<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="<%- pageUrl('log') %>"><%- trans('История действий') %></a></li>
        <li><a href="<%- pageUrl('../kiosk/search') %>"><%- trans('Перейти в киоск &rarr;') %></a></li>
      </ul>
    </div>

  </div>
</nav>

<div class="container">

  <h2><%- trans('В очереди на выдачу') %></h2>

  <table class="table">
    <thead>
      <tr>
        <th><%- trans('Номер посылки') %></th>
        <th><%- trans('Фамилия и имя') %></th>
        <th><%- trans('Количество посылок') %></th>
      </tr>
    </thead>
    <tbody>
      <tr data-tr-link="<%- pageUrl('issuance--issuance-1') %>">
        <td>
          P3950621
        </td>
        <td>
          Petrov Oleg
        </td>
        <td>3</td>
      </tr>
      <tr data-tr-link="<%- pageUrl('issuance--issuance-1') %>">
        <td>
          E3950622
        </td>
        <td>
          Eroshina Elena
        </td>
        <td>6</td>
      </tr>
      <tr data-tr-link="<%- pageUrl('issuance--issuance-1') %>">
        <td>
          P3950623
        </td>
        <td>
          Pushkin Dmitriy
        </td>
        <td>1</td>
      </tr>
      <tr data-tr-link="<%- pageUrl('issuance--issuance-1') %>">
        <td>
          G3950624
        </td>
        <td>
          Gorohov Kirill
        </td>
        <td>1</td>
      </tr>
    </tbody>
  </table>
  <br>



  <h2><%- trans('Выданные сегодня') %></h2>

  <table class="table">
    <thead>
      <tr>
        <th><%- trans('Номер посылки') %></th>
        <th><%- trans('Фамилия и имя') %></th>
        <th><%- trans('Количество посылок') %></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          P3950625
        </td>
        <td>
          Pushkin Dmitriy
        </td>
        <td>1</td>
      </tr>
      <tr>
        <td>
          G3950626
        </td>
        <td>
          Gorohov Kirill
        </td>
        <td>3</td>
      </tr>
    </tbody>
  </table>

</div>

<% include includes/layout/outro %>
