<% include includes/layout/intro %>

<a href="<%- pageUrl('issuance--issuance-6') %>">
  <img src="<%- staticUrl('images/native-screens/Sign-Filled.jpg') %>">
</a>

<% include includes/layout/outro %>
