<% var TITLE = trans('Проблема P3960574') %>
<% include includes/layout/intro %>
<% include includes/layout/primary-navbar %>


<% include includes/storage/parcel-header %>


<div class="container">


  <div class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title"><%- trans('Посылка списана') %></h3>
    </div>
    <div class="panel-body">

      <p>
        <%- trans('Свяжитесь с клиентом для уточнения деталей и выдачи компенсации.') %>
      </p>

      <div class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-2 control-label"><%- trans('Имя') %></label>
          <div class="col-sm-6">
            <p class="form-control-static">Oleg</p>
          </div>
        </div>
      </div>
      <div class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-2 control-label"><%- trans('Фамилия') %></label>
          <div class="col-sm-6">
            <p class="form-control-static">Petrov</p>
          </div>
        </div>
      </div>
      <div class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-2 control-label"><%- trans('Телефон') %></label>
          <div class="col-sm-6">
            <p class="form-control-static">+71234567890</p>
          </div>
        </div>
      </div>
      <div class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-2 control-label"><%- trans('Почта') %></label>
          <div class="col-sm-6">
            <p class="form-control-static">oleg-petrov@example.com</p>
          </div>
        </div>
      </div>
      <div class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-2 control-label"><%- trans('Сумма возврата') %></label>
          <div class="col-sm-6">
            <p class="form-control-static">43 €</p>
          </div>
        </div>
      </div>

      <hr>

      <form class="form-horizontal" action="<%- pageUrl('storage-parcel') %>">
        <div class="form-group">
          <label for="tmp-id-31" class="col-sm-2 control-label"><%- trans('Квитанция о компенсации') %></label>
          <div class="col-sm-6">
            <div data-photos-widget="<%- staticUrl('images/samples/doc-photos/u434.jpg') %>,<%- staticUrl('images/samples/doc-photos/u448.jpg') %>,<%- staticUrl('images/samples/doc-photos/u456.jpg') %>" data-count="0" id="photos-1"></div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary" disabled id="return-form-submit-1"><%- trans('Закрыть проблему') %></button>
          </div>
        </div>
      </form>


    </div>
  </div>

  <% include includes/issues/item-bottom %>

</div>


<script type="text/javascript">
  $('#photos-1').on('change', function(e, count) {
    $('#return-form-submit-1').prop('disabled', count == 0);
  });
</script>



<% include includes/layout/outro %>
