<% var TITLE = 'P3960574' %>
<% include includes/layout/intro %>
<% include includes/layout/primary-navbar %>

<% var PARCEL_HEADER_NO_SUITE = true %>
<% include includes/storage/parcel-header %>

<div class="container">

  <div class="form-horizontal">
    <div class="form-group">
      <label for="input-tmp-id-51" class="col-sm-2 control-label"><%- trans('Сьют') %></label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="input-tmp-id-51">
      </div>
    </div>
    <div class="form-group js-suite-options-1">
      <label class="col-sm-2 control-label"><%- trans('Возможные варианты') %></label>
      <div class="col-sm-4">
        <div class="input-group xs-bottom-buffer">
          <p type="text" class="form-control-static">
            Oleg Petrov (<a href="<%- pageUrl('storage-suite') %>" target="_blank">31337</a>)
          </p>
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" onclick="fillSuite(31337)"><%- trans('Выбрать') %></button>
          </span>
        </div>
        <div class="input-group xs-bottom-buffer">
          <p type="text" class="form-control-static">
            Eroshina Elena (<a href="<%- pageUrl('storage-suite') %>" target="_blank">62153</a>)
          </p>
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" onclick="fillSuite(62153)"><%- trans('Выбрать') %></button>
          </span>
        </div>
      </div>
    </div>
  </div>
  <br><br>

  <script type="text/javascript">
    function fillSuite(n) {
      $('#input-tmp-id-51').val(n);
      $('.js-suite-options-1').remove();
    }
  </script>


  <% PARCEL_FORM_INCOMPLETE = false %>
  <% include includes/storage/parcel-form %>
</div>


<% include includes/layout/outro %>
