<% var TITLE = trans('Транзит #73') %>
<% include includes/layout/intro %>
<% include includes/layout/primary-navbar %>


<% include includes/transit/header %>


<div class="container">

  <h3>
    <%- trans('Соберите необходимые посылки. Снимите отметку с посылки, если их нет на складе или если было принято решение не перемещать их.') %>
  </h3>

  <p>
    <%- trans('Причиной отмены перемещения посылки может быть, например, большие габариты посылки.') %>
  </p>

  <br>

  <table class="table">
    <thead>
      <tr>
        <th><input type="checkbox" data-toggle-all=".js-parcel-checkbox" checked></th>
        <th><%- trans('Номер посылки') %></th>
        <th><%- trans('Фамилия и имя') %></th>
        <th><%- trans('Куда') %></th>
      </tr>
    </thead>
    <tbody id="parcels-list-1">
      <tr>
        <td><input type="checkbox" class="js-parcel-checkbox" checked></td>
        <td>P3950621</td>
        <td>Petrov Oleg</td>
        <td><%- trans('Иматра') %></td>
      </tr>
      <tr style="display:none" class="continue-tr">
        <td colspan="6" class="js-display-when-checked__wrap">
          <label class="radio-inline">
            <input type="radio" name="tmp-name-0" value="option1" checked>
            <%- trans('Перемещение отменено') %>
          </label>
          <label class="radio-inline">
            <input type="radio" name="tmp-name-0" value="option2">
            <%- trans('Посылка не найдена') %>
            <small class="text-danger js-display-when-checked"><br><%- trans('Посылка будет отмечена как проблемная со статусом «Не найдена при транзите»') %></small>
          </label>
        </td>
      </tr>
      <tr>
        <td><input type="checkbox" class="js-parcel-checkbox" checked></td>
        <td>E3950662</td>
        <td>Eroshina Elena</td>
        <td><%- trans('Лаппеенранта') %></td>
      </tr>
      <tr style="display:none" class="continue-tr">
        <td colspan="6" class="js-display-when-checked__wrap">
          <label class="radio-inline">
            <input type="radio" name="tmp-name-1" value="option1" checked>
            <%- trans('Перемещение отменено') %>
          </label>
          <label class="radio-inline">
            <input type="radio" name="tmp-name-1" value="option2">
            <%- trans('Посылка не найдена') %>
            <small class="text-danger js-display-when-checked"><br><%- trans('Посылка будет отмечена как проблемная со статусом «Не найдена при транзите»') %></small>
          </label>
        </td>
      </tr>
      <tr>
        <td><input type="checkbox" class="js-parcel-checkbox" checked></td>
        <td>P3950639</td>
        <td>Pushkin Dmitriy</td>
        <td><%- trans('Иматра') %></td>
      </tr>
      <tr style="display:none" class="continue-tr">
        <td colspan="6" class="js-display-when-checked__wrap">
          <label class="radio-inline">
            <input type="radio" name="tmp-name-2" value="option1" checked>
            <%- trans('Перемещение отменено') %>
          </label>
          <label class="radio-inline">
            <input type="radio" name="tmp-name-2" value="option2">
            <%- trans('Посылка не найдена') %>
            <small class="text-danger js-display-when-checked"><br><%- trans('Посылка будет отмечена как проблемная со статусом «Не найдена при транзите»') %></small>
          </label>
        </td>
      </tr>
      <tr>
        <td><input type="checkbox" class="js-parcel-checkbox" checked></td>
        <td>G3950642</td>
        <td>Gorohov Kirill</td>
        <td><%- trans('Иматра') %></td>
      </tr>
      <tr style="display:none" class="continue-tr">
        <td colspan="6" class="js-display-when-checked__wrap">
          <label class="radio-inline">
            <input type="radio" name="tmp-name-3" value="option1" checked>
            <%- trans('Перемещение отменено') %>
          </label>
          <label class="radio-inline">
            <input type="radio" name="tmp-name-3" value="option2">
            <%- trans('Посылка не найдена') %>
            <small class="text-danger js-display-when-checked"><br><%- trans('Посылка будет отмечена как проблемная со статусом «Не найдена при транзите»') %></small>
          </label>
        </td>
      </tr>
    </tbody>
  </table>

  <br>

  <a href="<%- pageUrl('transit-out-3') %>" class="btn btn-primary"><%- trans('Передать экспедитору') %></a>
  <a href="<%- pageUrl('transit-out-1') %>" class="btn btn-default"><%- trans('Отменить транзит') %></a>

</div>

<script type="text/javascript">
  (function(){

    $('.js-parcel-checkbox').change(function() {
      $(this).parent().parent().next().toggle(!$(this).is(':checked'));
    });

    $('.js-display-when-checked').hide().each(function(){
      var $message = $(this);
      var $allRadios = $message.parents('.js-display-when-checked__wrap').find('[type=radio]');
      var $siblingRadio = $message.siblings('[type=radio]');
      $allRadios.change(function(){
        $message.toggle($siblingRadio.is(':checked'));
      })
    })

  }())
</script>


<% include includes/layout/outro %>
