<div class="header">
  <div class="container">
    <div class="header__left">
      <a href="index.html" class="header__logo">
        <img src="<%- staticUrl('images/illustrations/logo.svg') %>">
      </a>
      <p class="header__slogan">
        <%- trans('Ваше почтовое отделение<br>в Финляндии') %>
      </p>
    </div>
    <div class="header__right">
      <ul class="header-menu">
        <li><a href="#TODO"><%- trans('Настройки') %></a></li>
        <li><a href="#TODO"><%- trans('Выход') %></a></li>
      </ul>
      <ul class="header-lang">
        <li class="active"><span><%- trans('RU') %></span></li>
        <li><a href="#TODO"><%- trans('EN') %></a></li>
      </ul>
    </div>
  </div>
</div>
