<!-- Header -->

<div class="header">
  <div class="container">
    <div class="header__left">
      <a href="index.html" class="header__logo">
        <img src="<%- staticUrl('images/illustrations/logo.svg') %>">
      </a>
      <p class="header__slogan">
        <%- trans('Ваше почтовое отделение<br>в Финляндии') %>
      </p>
    </div>
    <div class="header__right">
      <button class="header__btn" data-toggle="modal" data-target="#login-modal"><%- trans('Личный кабинет') %></button>
      <!--
        Если пользователь уже вошел, то вместо кнопки ссылка:
        <a href="#TODO" class="header__btn"><%- trans('Личный кабинет') %></a>
      -->
    </div>
  </div>
</div>

<!-- Окно входа -->
<!-- %TODO AJAX: Здесь скорее всего нужно будет сделать отправку формы через AJAX, чтобы показывать ошибки-->
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-top-header" data-dismiss="modal">
    <div class="container">
      <div class="modal-top-header-logo">
        <img src="<%- staticUrl('images/illustrations/logo.svg') %>">
      </div>
      <p class="modal-top-header-slogan">
        <%- trans('Ваше почтовое отделение<br>в Финляндии') %>
      </p>
      <button type="button" class="modal-top-header-close">&times;</button>
    </div>
  </div>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="auth-modal">

      <h3><%- trans('Войти в личный кабинет') %></h3>

      <!-- Пример глобальных ошибок формы -->
      <ul class="form-global-errors">
        <li><%- trans('Неверный адрес электронной почты или пароль') %></li>
        <li><%- trans('Неверный адрес электронной почты или пароль') %></li>
      </ul>

      <form>

        <!-- Пример поля с ошибкой -->
        <div class="form-group has-error">
          <p class="form-field-error">
            <%- trans('Неверный адрес электронной почты') %>
          </p>
          <input type="text" class="text-input js-fix-ph" placeholder="<%- trans('Электронная почта') %>">
        </div>

        <div class="form-group has-error">
          <p class="form-field-error">
            <%- trans('Неверный пароль') %>
          </p>
          <input type="password" class="text-input js-fix-ph" placeholder="<%- trans('Пароль') %>">
        </div>
        <div class="auth-modal__save">
          <button type="submit" class="btn btn-block btn-orange"><%- trans('Войти') %></button>
        </div>
      </form>
      <p class="auth-modal__alt-action">
        <a href="restore-pass.html"><%- trans('Восстановить забытый пароль') %></a>
      </p>
      <div class="oauth">
        <p><%- trans('или войдите через') %></p>
        <ul>
          <li class="oauth__vk">
            <button class="oauth__btn" type="button"><%- trans('Вконтакте') %></button>
          </li>
          <li class="oauth__odnoklassniki">
            <button class="oauth__btn" type="button"><%- trans('Одноклассники') %></button>
          </li>
          <li class="oauth__facebook">
            <button class="oauth__btn" type="button"><%- trans('Facebook') %></button>
          </li>
        </ul>
      </div>
      <p class="auth-modal__alt-action">
        <button data-toggle="modal" data-target="#reg-modal"><%- trans('Нет аккаунта? Зарегистрируйтесь') %></button>
      </p>

      </div>
    </div>
  </div>
</div>

<!-- / Header -->



