.form-title
  padding-top 60px
  padding-bottom 60px
  h1
    setFont(40, 48, 600)


.form
  &-control
    background transparent
    border none
    border-bottom solid 2px #464547
    padding 0
    border-radius 0
    outline 0
    -webkit-appearance none
    -moz-appearance none
    appearance none
    &:focus,
    .has-error &:focus
      border-color #0000ff
      outline none
    .has-error &
      border-color #ff0b15
  &-error a
    text-decoration underline

.form-large
  margin-bottom 60px
  .form
    &-control
      setFont(56, 60, 700)
      padding 3px 0
      display block
      width 100%
      margin-bottom 15px
    &-error
      setFont(21, 25, 600, 5)
      color #FF0B15
      margin-bottom 16px
    &-group
      padding-bottom 16px
      &--extra-space
        min-height 190px
  select.form-control
    cursor pointer
    background-image url(../images/icons/drop.svg)
    background-size 30px 19px
    background-repeat no-repeat
    background-position right 13px top 20px
  ::placeholder
    font-weight 200
    color #969495



.btn
  setFont(29, 35, 600)
  border none
  background #000000
  color #ffffff
  border-radius 0
  padding 19px 0;
  &-block
    display block
    width 100%
    text-align center
  &-blue
    background #0000ff
  &-orange
    background #ff592e
  &-disabled,
  &[disabled]
    opacity .4
