<% include _inc/layout/intro %>

<% include _inc/headers/empty %>

<div class="single-form-page">
  <div class="container">
    <div class="b12-row">
      <div class="b12-col-3"></div>
      <div class="b12-col-5">
        <h3><%- trans('Завершение регистрации') %></h3>
        <p class="single-form-page__text">
          <%- trans('Напишите свою электронную почту, чтобы мы могли вас зарегистрировать.') %>
        </p>
        <form class="default-form">
          <div class="form-group">
            <input type="text" class="text-input js-fix-ph" placeholder="<%- trans('Введите вашу электронную почту') %>">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-block btn-orange"><%- trans('Перейти в личный кабинет') %></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<% include _inc/footer %>

<% include _inc/layout/outro %>
