<% include _inc/layout/intro %>

<% include _inc/headers/landing %>



<div class="call-to-act landing-hello">
  <div class="container">
    <div class="call-to-act__content">
      <h2><%- trans('Бесплатный<br>адрес в Финляндии') %></h2>
      <p class="call-to-act__descr">
        <%- trans('Часто бываете в Финляндии?<br>Заказывайте посылки на ваш новый<br>адрес и забирайте их на наших приграничных<br>пунктах в Финляндии') %>
      </p>
      <div class="row call-to-act__btn-wrap">
        <div class="col-3">
          <a href="#registration" class="call-to-act__btn">
            <%- trans('Получить свой адрес в Финляндии') %><br>
            <small><%- trans('€ 5 за посылку, первая — бесплатно') %></small>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>




<div class="landing-how-it-works">
  <div class="container">
    <h3><%- trans('Как это работает?') %></h3>
    <ul class="row">
      <li class="col-2">
        <span class="landing-step__num"><%- trans('1') %></span>
        <p class="landing-step__title"><%- trans('Получите адрес<br>в Финляндии') %></p>
        <img src="<%- staticUrl('images/illustrations/step-1.svg') %>" class="landing-step__img">
        <p class="landing-step__descr">
          <%- trans('Зарегистрируйтесь на сайте и получите свой бесплатный почтовый адрес в Финляндии') %>
        </p>
      </li>
      <li class="col-2">
        <span class="landing-step__num"><%- trans('2') %></span>
        <p class="landing-step__title"><%- trans('Совершайте<br>покупки') %></p>
        <img src="<%- staticUrl('images/illustrations/step-2.svg') %>" class="landing-step__img">
        <p class="landing-step__descr">
          <%- trans('Заказывайте доставку на&nbsp;ваш новый финский адрес') %>
        </p>
      </li>
      <li class="col-2">
        <span class="landing-step__num"><%- trans('3') %></span>
        <p class="landing-step__title"><%- trans('Забирайте<br>посылки') %></p>
        <img src="<%- staticUrl('images/illustrations/step-3.svg') %>" class="landing-step__img">
        <div class="landing-step__descr">
          <%- trans('Заезжайте в отделение, платите € 5 за посылку и') %>
          <span class="dashed-text popover__target js-popover-target">
            <%- trans('30% депозит') %><!--
            --><div class="popover js-popover">
              <div class="popover__content">
                <%- trans('Как ваш таможенный агент, мы обязаны вносить 30% от стоимости каждой посылки в качестве депозита финской таможне. Как только посылка покидает Финляндию — мы возвращаем депозит вам.') %>
              </div>
            </div><!--
          --></span><%- trans(', который возвращается после пересечения границы') %>
        </div>
      </li>
      <li class="col-2">
        <span class="landing-step__num"><%- trans('4') %></span>
        <p class="landing-step__title"><%- trans('Пройдите<br>границу') %></p>
        <img src="<%- staticUrl('images/illustrations/step-4.svg') %>" class="landing-step__img">
        <p class="landing-step__descr">
          <%- trans('Проставьте экспортный штамп на финской таможне (займет 5 минут), и в течение суток получите возврат депозита') %>
        </p>
      </li>
    </ul>
  </div>
</div>




<div class="call-to-act landing-friend">
  <div class="container">
    <div class="call-to-act__content">
      <h2><%- trans('Вашу посылку<br>может забрать друг') %></h2>
      <p class="call-to-act__descr">
        <%- trans('Не собираетесь в Финляндию?<br>Просто укажите на сайте,<br>кто заберет посылку за вас') %>
      </p>
      <div class="row call-to-act__btn-wrap">
        <div class="col-3">
          <a href="#registration" class="call-to-act__btn">
            <%- trans('Получить свой адрес в Финляндии') %><br>
            <small><%- trans('€ 5 за посылку, первая — бесплатно') %></small>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="landing-prices">
  <div class="container">
    <h2><%- trans('С pochta.fi вам доступны лучшие цены<br>в мире на любимые товары') %></h2>
    <div class="world-prices js-tabs">

      <ul class="world-prices__menu">
        <li data-tab-btn="0" class="active"><%- trans('Туфли') %></li>
        <li data-tab-btn="1"><%- trans('Cумка') %></li>
        <li data-tab-btn="2"><%- trans('Джинсы') %></li>
        <li data-tab-btn="3"><%- trans('Тренч') %></li>
        <li data-tab-btn="4"><%- trans('Ботинки') %></li>
        <li data-tab-btn="5"><%- trans('Очки') %></li>
      </ul>

      <div class="world-prices__info" data-tab="0">
        <img src="<%- staticUrl('images/logos/brand-louboutin@2x.png') %>">
        <h4><%- trans('Туфли') %></h4>
        <p class="world-prices__info__name">
          <%- trans('CHRISTIAN<br/>LOUBOUTIN') %>
        </p>
        <p class="world-prices__info__bottom">
          <%- trans('Указаны средние цены интернет-магазинов каждого города на 6.11.14') %>
        </p>
      </div>

      <div class="world-prices__info" data-tab="1">
        <img src="<%- staticUrl('images/logos/brand-hermes@2x.png') %>">
        <h4><%- trans('Cумка') %></h4>
        <p class="world-prices__info__name">
          <%- trans('Birkin bag by<br>Hermès') %>
        </p>
        <p class="world-prices__info__bottom">
          <%- trans('Указаны средние цены интернет-магазинов каждого города на 6.11.14') %>
        </p>
      </div>

      <div class="world-prices__info" data-tab="2">
        <img src="<%- staticUrl('images/logos/brand-levis@2x.png') %>">
        <h4><%- trans('Джинсы') %></h4>
        <p class="world-prices__info__name">
          <%- trans('Levi Strauss & Co') %>
        </p>
        <p class="world-prices__info__bottom">
          <%- trans('Указаны средние цены интернет-магазинов каждого города на 6.11.14') %>
        </p>
      </div>

      <div class="world-prices__info" data-tab="3">
        <img src="<%- staticUrl('images/logos/brand-burberry@2x.png') %>">
        <h4><%- trans('Тренч') %></h4>
        <p class="world-prices__info__name">
          <%- trans('Burberry') %>
        </p>
        <p class="world-prices__info__bottom">
          <%- trans('Указаны средние цены интернет-магазинов каждого города на 6.11.14') %>
        </p>
      </div>

      <div class="world-prices__info" data-tab="4">
        <img src="<%- staticUrl('images/logos/brand-timberland@2x.png') %>">
        <h4><%- trans('Ботинки') %></h4>
        <p class="world-prices__info__name">
          <%- trans('Timberland') %>
        </p>
        <p class="world-prices__info__bottom">
          <%- trans('Указаны средние цены интернет-магазинов каждого города на 6.11.14') %>
        </p>
      </div>

      <div class="world-prices__info" data-tab="5">
        <img src="<%- staticUrl('images/logos/brand-rayban@2x.png') %>">
        <h4><%- trans('Очки') %></h4>
        <p class="world-prices__info__name">
          <%- trans('Ray Ban') %>
        </p>
        <p class="world-prices__info__bottom">
          <%- trans('Указаны средние цены интернет-магазинов каждого города на 6.11.14') %>
        </p>
      </div>

      <div class="world-prices__price" data-tab="0">
        <div class="world-prices__price__item world-prices__price__item--paris">
          <div class="world-prices__price__item__num"><%- trans('<strong>25 000</strong> р.') %></div>
          <div class="world-prices__price__item__loc"><%- trans('Париж') %></div>
        </div>
        <div class="world-prices__price__item world-prices__price__item--local">
          <div class="world-prices__price__item__num"><%- trans('<strong>45 000</strong> р.') %></div>
          <div class="world-prices__price__item__loc"><%- trans('Петербург') %></div>
        </div>
      </div>

      <div class="world-prices__price" data-tab="1">
        <div class="world-prices__price__item world-prices__price__item--rome">
          <div class="world-prices__price__item__num"><%- trans('<strong>75 000</strong> р.') %></div>
          <div class="world-prices__price__item__loc"><%- trans('Рим') %></div>
        </div>
        <div class="world-prices__price__item world-prices__price__item--local">
          <div class="world-prices__price__item__num"><%- trans('<strong>75 000</strong> р.') %></div>
          <div class="world-prices__price__item__loc"><%- trans('Петербург') %></div>
        </div>
      </div>

      <div class="world-prices__price" data-tab="2">
        <div class="world-prices__price__item world-prices__price__item--new-york">
          <div class="world-prices__price__item__num"><%- trans('<strong>1 500</strong> р.') %></div>
          <div class="world-prices__price__item__loc"><%- trans('Нью-йорк') %></div>
        </div>
        <div class="world-prices__price__item world-prices__price__item--local">
          <div class="world-prices__price__item__num"><%- trans('<strong>4 500</strong> р.') %></div>
          <div class="world-prices__price__item__loc"><%- trans('Петербург') %></div>
        </div>
      </div>

      <div class="world-prices__price" data-tab="3">
        <div class="world-prices__price__item world-prices__price__item--london">
          <div class="world-prices__price__item__num"><%- trans('<strong>65 000</strong> р.') %></div>
          <div class="world-prices__price__item__loc"><%- trans('Лондон') %></div>
        </div>
        <div class="world-prices__price__item world-prices__price__item--local">
          <div class="world-prices__price__item__num"><%- trans('<strong>85 000</strong> р.') %></div>
          <div class="world-prices__price__item__loc"><%- trans('Петербург') %></div>
        </div>
      </div>

      <div class="world-prices__price" data-tab="4">
        <div class="world-prices__price__item world-prices__price__item--new-york">
          <div class="world-prices__price__item__num"><%- trans('<strong>4 500</strong> р.') %></div>
          <div class="world-prices__price__item__loc"><%- trans('Нью-йорк') %></div>
        </div>
        <div class="world-prices__price__item world-prices__price__item--local">
          <div class="world-prices__price__item__num"><%- trans('<strong>9 500</strong> р.') %></div>
          <div class="world-prices__price__item__loc"><%- trans('Петербург') %></div>
        </div>
      </div>

      <div class="world-prices__price" data-tab="5">
        <div class="world-prices__price__item world-prices__price__item--rome">
          <div class="world-prices__price__item__num"><%- trans('<strong>3 000</strong> р.') %></div>
          <div class="world-prices__price__item__loc"><%- trans('Рим') %></div>
        </div>
        <div class="world-prices__price__item world-prices__price__item--local">
          <div class="world-prices__price__item__num"><%- trans('<strong>7 000</strong> р.') %></div>
          <div class="world-prices__price__item__loc"><%- trans('Петербург') %></div>
        </div>
      </div>

    </div>
  </div>
</div>



<div class="landing-features">
  <div class="container">
    <h2><%- trans('Наши преимущества') %></h2>
    <div class="row">
      <div class="col-3">
        <h3><%- trans('Это выгодно') %></h3>
        <ul>
          <li><%- trans('Никаких таможенных<br>платежей') %></li>
          <li><%- trans('Никакой абонентской<br>платы') %></li>
          <li><%- trans('Всего € 5<br>за посылку') %></li>
        </ul>
      </div>
      <div class="col-3">
        <h3><%- trans('Это удобно') %></h3>
        <ul>
          <li><%- trans('Отделения прямо у<br>пограничных пунктов') %></li>
          <li><%- trans('Посылку может забрать<br>ваш друг') %></li>
          <li><%- trans('Отделения работают с 10<br> до 23, без выходных') %></li>
        </ul>
      </div>
      <div class="col-3">
        <h3><%- trans('Дополнительные возможности') %></h3>
        <ul>
          <li><%- trans('Не каждый продавец отправляет<br>в Россию, в Финляндию — все') %></li>
          <li><%- trans('Организуем за вас возврат<br>товара продавцу') %></li>
          <li><%- trans('Любые размеры от<br>айфона до велосипеда') %></li>
        </ul>
      </div>
    </div>
  </div>
</div>



<div class="call-to-act landing-registration" id="registration">
  <div class="container">
    <div class="call-to-act__content">

      <div class="row">
        <div class="col-3">

          <h2><%- trans('Получите свой адрес в Финляндии') %></h2>

          <form>
            <div class="landing-registration__email__wrap has-error">
              <p class="form-field-error">
                <%- trans('Неверный адрес электронной почты') %>
              </p>
              <input type="text" class="landing-registration__email js-fix-ph" placeholder="<%- trans('введите вашу электронную почту') %>">
            </div>
            <div class="landing-registration__email__wrap">
              <input type="password" class="landing-registration__email js-fix-ph" placeholder="<%- trans('придумайте пароль') %>">
            </div>
            <button type="submit" class="call-to-act__btn">
              <%- trans('Начать пользоваться сервисом') %><br>
              <small><%- trans('€ 5 за посылку, первая — бесплатно') %></small>
            </button>
            <p class="landing-registration__terms">
              <%- trans('Регистрируясь, вы соглашаетесь с') %>
              <a href="#TODO"><%- trans('условиями использования сервиса') %></a>
            </p>
          </form>

          <div class="landing-oauth">
            <p class="call-to-act__descr"><%- trans('или регистрируйтесь с помощью') %></p>
            <ul class="row-sub-3">
              <li class="col-1 landing-oauth__vk">
                <button class="landing-oauth__btn" type="button"><%- trans('Вконтакте') %></button>
              </li>
              <li class="col-1 landing-oauth__odnoklassniki">
                <button class="landing-oauth__btn" type="button"><%- trans('Одноклассники') %></button>
              </li>
              <li class="col-1 landing-oauth__facebook">
                <button class="landing-oauth__btn" type="button"><%- trans('Facebook') %></button>
              </li>
            </ul>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>



<% include _inc/footer %>

<% include _inc/layout/outro %>
