<% include _inc/layout/intro %>

<% include _inc/headers/parcel %>




<% var EDITABLE_TITLE_OPT = {
  classSuffix: 'picked-up',
  editable: false
} %>
<% include _inc/parcel-page/editable-title %>


<% var PARCEL_INFO_OPT = {
  paymentContent: function(buf) { %>
    <span class="parcel-info__label"><%- trans('Возврат пошлины') %></span>
    <span class="parcel-info__value">
      <strong>€ 250</strong>
      <span class="icon icon-help popover__target js-popover-target">
        <div class="popover popover--for-round-icon js-popover">
          <div class="popover__content">
            <%- trans('Эту сумму мы вернем вам в течение суток после того, как вы заберете посылку и пересечете границу.') %>
          </div>
        </div>
      </span>
      <br>
      <span class="parcel-info__info-note">
        <%- trans('Сообщите нам, если вы вывезли посылку и не получили деньги') %>
      </span>
    </span>
  <% },
  paymentBtnContent: function(buf) { %>
    <span class="parcel-info__controls-spacing"></span>
    <a href="#TODO" class="btn btn-block btn-blue"><%- trans('Сообщить') %></a>
  <% },
  disabled: true
} %>
<% include _inc/parcel-page/parcel-info %>


<% var DECLARATION_OPT = {
  disabled: true
} %>
<% include _inc/parcel-page/declaration %>


<% include _inc/parcel-page/full-info %>





<% include _inc/footer %>

<% var LAYOUT_JS = function(buf) { %>
  <link rel="stylesheet" type="text/css" href="<%- staticUrl('vendor-packages/lightbox/css/lightbox.css') %>">
  <script type="text/javascript" src="<%- staticUrl('vendor-packages/lightbox/js/lightbox.min.js') %>"></script>
<% } %>

<% include _inc/layout/outro %>
