<% include _inc/layout/intro %>

<% include _inc/headers/parcel %>




<% include _inc/parcel-page/editable-title %>


<% var PARCEL_INFO_OPT = {
  paymentContent: function(buf) { %>
    <span class="parcel-info__label"><span class="icon icon-ok"></span></span>
    <span class="parcel-info__value">
      <strong>€ 1100</strong><%- trans(' — мы вернем вам эту сумму, когда вы заберете посылку и пересечете границу') %>
    </span>
  <% },
  paymentBtnContent: function() {}
} %>
<% include _inc/parcel-page/parcel-info %>


<% include _inc/parcel-page/declaration %>
<% include _inc/parcel-page/full-info %>




<% include _inc/footer %>

<% var LAYOUT_JS = function(buf) { %>
  <link rel="stylesheet" type="text/css" href="<%- staticUrl('vendor-packages/lightbox/css/lightbox.css') %>">
  <script type="text/javascript" src="<%- staticUrl('vendor-packages/lightbox/js/lightbox.min.js') %>"></script>
<% } %>

<% include _inc/layout/outro %>
