<% include _inc/layout/intro %>

<% include _inc/headers/empty %>

<div class="single-form-page">
  <div class="container">
    <div class="b12-row">
      <div class="b12-col-3"></div>
      <div class="b12-col-6">
        <div class="succes-message">
          <img src="<%- staticUrl('images/illustrations/success-common.svg') %>">
          <h3><%- trans('Пароль изменен!') %></h3>
          <p class="single-form-page__text">
            <%- trans('Через секунду вы окажетесь<br>в ') %><a href="#TODO"><%- trans('личном кабинете') %></a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<% include _inc/footer %>

<% include _inc/layout/outro %>
