<% var OPT = (function(){try{return DECLARATION_OPT}catch(e){return {}}}()) %>

<div class="declaration js-declaration" id="declaration">

  <script type="text/javascript">

    <% if (OPT.declarationData) {
      OPT.declarationData(buf);
    } else { %>
    // Этот JSON должен фомироваться на стороне сервера
    var DECLARATION_INITIAL_DATA = {

      defaultCurrency: {
        sign: '€',
        total: 3000
      },

      // Если используется евро, то в этом поле должен быть null (notDefaultCurrency: null)
      notDefaultCurrency: {
        sign: "$",
        total: 4000
      },

      items: [
        {
          name: "iPhone 6 plus apple 2014",
          amount: 2,
          price: 600 // стоимость одного экземпляра
        },
        {
          name: "Macbook Pro 2014",
          amount: 1,
          price: 1000
        }
      ]

    };
    <% } %>

  </script>

  <div class="container">



    <div class="declaration-info js-declaration__info">


      <div class="row-sub-7 js-declaration__info__item-template js-template">
        <div class="col-3">
          <span class="declaration-info__val">
            <span class="js-declaration__info__item__name"></span>
          </span>
        </div>
        <div class="col-1">
          <span class="declaration-info__val">
            <span class="js-declaration__info__item__amount"></span>
            <%- trans('шт.') %>
          </span>
        </div>
        <div class="col-1">
          <span class="declaration-info__val">
            <span class="js-declaration__info__item__currency"></span>
            <span class="js-declaration__info__item__price"></span>
          </span>
        </div>
      </div>

      <div class="row">
        <div class="col-7">
          <div class="row-sub-7">
            <div class="col-3">
              <span class="declaration-info__title"><%- trans('Товары в вашей посылке') %></span>
            </div>
            <div class="col-1">
              <span class="declaration-info__title">
                <span class="js-declaration__info__total-amount">0</span>
                <%- trans('шт.') %>
              </span>
            </div>
            <div class="col-1">
              <span class="declaration-info__title">
                <span class="js-declaration__info__currency-sign">€</span>
                <span class="js-declaration__info__total-price">0</span>
              </span>
            </div>
          </div>
          <div class="js-declaration__info__items-wrap"></div>
        </div>
        <div class="col-2">
          <% if (!OPT.disabled) { %>
          <button type="button"
            class="btn btn-block btn-trans-dark <% if (OPT.predisabled) { %>btn-disabled<% } else { %>js-declaration__to-form<% } %>"
          >
            <%- trans('Редактировать') %>
          </button>
          <% } %>
        </div>
      </div>
    </div>

    <% if (!OPT.disabled && !OPT.predisabled) { %>
    <!-- %TODO AJAX: здесь нужно будет сделать сохранение через AJAX -->
    <form class="declaration-form js-declaration__form">
      <div class="row">
        <div class="col-3">
          <span class="declaration-info__title"><%- trans('Товары в вашей посылке') %></span>
        </div>
        <div class="col-2">
          <span class="declaration-info__title">
            <span class="js-declaration__form__total-amount">0</span>
            <%- trans('шт.') %>
          </span>
        </div>
        <div class="col-2"></div>
        <div class="col-2">
          <span class="declaration-info__title">
            <span class="js-declaration__form__currency-sign">€</span>
            <span class="js-declaration__form__total-price">0</span>
            <span class="declaration__total-def-currency js-declaration__form__def-cur-wrap" style="display: none">
              <%- trans('декларируемая стоимость') %>
              <span class="js-declaration__form__currency-sign--def-cur">€</span>
              <span class="js-declaration__form__total-price--def-cur">0</span>
            </span>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <span class="declaration-form__label">
            <%- trans('Наименование') %>
            <span class="icon icon-help popover__target js-popover-target">
              <div class="popover popover--for-round-icon js-popover">
                <div class="popover__content">
                  <%- trans('Введите название товара так, как оно было указано в интернет-магазине.') %>
                </div>
              </div>
            </span>
          </span>
        </div>
        <div class="col-2">
          <span class="declaration-form__label">
            <%- trans('Количество, шт.') %>
          </span>
        </div>
        <div class="col-2">
          <span class="declaration-form__label">
            <%- trans('Стоимость за штуку,') %>
            <span class="js-declaration__form__currency-sign">€</span>
            <span class="icon icon-help popover__target js-popover-target">
              <div class="popover popover--for-round-icon js-popover">
                <div class="popover__content">
                  <%- trans('Укажите стоимость каждого товара. Если вы заказали 10 одинаковых товаров и уплатили за них €150, то укажите 10 товаров по €15.') %>
                </div>
              </div>
            </span>
          </span>
        </div>
        <div class="col-2">
          <span class="declaration-form__label">
            <%- trans('Итого') %>
          </span>
        </div>
      </div>

      <div class="row declaration-row js-template js-declaration__form__item-template">
        <div class="col-3">
          <div class="declaration-field">
            <div class="declaration-field__input">
              <input
                class="js-declaration__form__item__name text-input"
                type="text"
              />
            </div>
          </div>
        </div>
        <div class="col-2">
          <div class="declaration-field">
            <div class="declaration-field__input">
              <input
                class="js-number-field js-declaration__form__item__amount text-input"
                data-positive-only="true"
                type="text"
              />
            </div>
          </div>
        </div>
        <div class="col-2">
          <div class="declaration-field">
            <div class="declaration-field__input declaration-field__input--price">
              <input
                class="js-number-field js-declaration__form__item__price text-input"
                data-allow-float="true"
                data-float-fixed="2"
                type="text"
              />
            </div>
          </div>
        </div>
        <div class="col-2">
          <div class="declaration-row-ctrls">
            <div class="declaration-row-ctrls__total">
              <span class="js-declaration__form__item__currency"></span>
              <span class="js-declaration__form__item__total"></span>
            </div>
            <button
              type="button" class="declaration-row-ctrls__remove js-declaration__form__item__remove"
              data-confirm="<%- trans('Вы уверены что хотите удалить эту позицию?') %>"
            ></button>
            <div class="declaration-row-ctrls__is-complete"></div>
          </div>
        </div>
      </div>

      <div class="js-declaration__form__items-wrap"></div>

      <div class="row">
        <div class="col-7"></div>
        <div class="col-2">
          <div class="declaration__total-mismatch js-declaration__form__mismathc-more" style="display: none">
            <%- trans('Сумма стоимостей посылок не может превышать задекларированной стоимости в') %>
            <span class="js-declaration__form__currency-sign">€</span>
            <span class="js-declaration__form__total-price">0</span>
          </div>
          <div class="declaration__total-mismatch js-declaration__form__mismathc-less" style="display: none">
            <%- trans('Сумма стоимостей посылок должна совпадать с задекларированной стоимостью в') %>
            <span class="js-declaration__form__currency-sign">€</span>
            <span class="js-declaration__form__total-price">0</span>
          </div>
          <span
            class="btn btn-block btn-blue btn-disabled js-declaration__to-info-dis"
            style="display:none"
          ><%- trans('Закончить ') %></span>
          <button type="button" class="btn btn-block btn-blue js-declaration__to-info"><%- trans('Закончить') %></button>
        </div>
      </div>
    </form>
    <% } %>


  </div>
</div>



