


<div class="height-limit js-height-limit">
  <div class="height-limit__content js-height-limit__content">
    <div class="parcel-full-info">
      <div class="container">
        <h2><%- trans('Дополнительная информация о посылке') %></h2>
        <div class="row">
          <div class="col-2">
            <span class="parcel-full-info__label"><%- trans('Тип посылки') %></span>
            <span class="parcel-full-info__value">Европейская</span>
          </div>
          <div class="col-1">
            <span class="parcel-full-info__label"><%- trans('Длина') %></span>
            <span class="parcel-full-info__value">320 мм</span>
          </div>
          <div class="col-1">
            <span class="parcel-full-info__label"><%- trans('Ширина') %></span>
            <span class="parcel-full-info__value">100 мм</span>
          </div>
          <div class="col-1">
            <span class="parcel-full-info__label"><%- trans('Высота') %></span>
            <span class="parcel-full-info__value">500 мм</span>
          </div>
          <div class="col-1">
            <span class="parcel-full-info__label"><%- trans('Вес') %></span>
            <span class="parcel-full-info__value">3.6 кг</span>
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            <span class="parcel-full-info__label"><%- trans('Тип') %></span>
            <span class="parcel-full-info__value">Коммерческий образец</span>
          </div>
          <div class="col-2">
            <span class="parcel-full-info__label"><%- trans('Статус посылки') %></span>
            <span class="parcel-full-info__value">Ценная</span>
          </div>
          <div class="col-2">
            <span class="parcel-full-info__label"><%- trans('Декларируемая стоимость') %></span>
            <span class="parcel-full-info__value">€ 2800</span>
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            <span class="parcel-full-info__label"><%- trans('Отправитель') %></span>
            <span class="parcel-full-info__value">apple.com</span>
          </div>
          <div class="col-2">
            <span class="parcel-full-info__label"><%- trans('Дата отправления') %></span>
            <span class="parcel-full-info__value">12.06.2014</span>
          </div>
          <div class="col-2">
            <span class="parcel-full-info__label"><%- trans('Откуда') %></span>
            <span class="parcel-full-info__value">23 Mission st, SF, USA</span>
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            <span class="parcel-full-info__label"><%- trans('Кому') %></span>
            <span class="parcel-full-info__value">Petrov Oleg</span>
          </div>
          <div class="col-2">
            <span class="parcel-full-info__label"><%- trans('Куда') %></span>
            <span class="parcel-full-info__value">
              Kuoma Helsingintie543
              40 Suite 456356,
              Imatra, FINLAND
            </span>
          </div>
          <div class="col-2">
            <span class="parcel-full-info__label"><%- trans('Электронная почта') %></span>
            <span class="parcel-full-info__value">p.oleg@gmail.com</span>
          </div>
          <div class="col-2">
            <span class="parcel-full-info__label"><%- trans('Телефон') %></span>
            <span class="parcel-full-info__value">+7 927 047 6559</span>
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            <span class="parcel-full-info__label"><%- trans('Фотографии со склада') %></span>
            <div class="row-sub-8">
              <div class="col-2">
                <a href="http://placehold.it/500x600" data-lightbox="photos-from-storage">
                  <img src="http://placehold.it/160x160" class="parcel-full-info__photo-prev">
                </a>
              </div>
              <div class="col-2">
                <a href="http://placehold.it/600x500" data-lightbox="photos-from-storage">
                  <img src="http://placehold.it/160x160" class="parcel-full-info__photo-prev">
                </a>
              </div>
              <div class="col-2">
                <a href="http://placehold.it/600x500" data-lightbox="photos-from-storage">
                  <img src="http://placehold.it/160x160" class="parcel-full-info__photo-prev">
                </a>
              </div>
              <div class="col-2">
                <a href="http://placehold.it/500x600" data-lightbox="photos-from-storage">
                  <img src="http://placehold.it/160x160" class="parcel-full-info__photo-prev">
                </a>
              </div>
            </div>
            <div class="row-sub-8">
              <div class="col-2">
                <a href="http://placehold.it/500x600" data-lightbox="photos-from-storage">
                  <img src="http://placehold.it/160x160" class="parcel-full-info__photo-prev">
                </a>
              </div>
              <div class="col-2">
                <a href="http://placehold.it/600x500" data-lightbox="photos-from-storage">
                  <img src="http://placehold.it/160x160" class="parcel-full-info__photo-prev">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="height-limit__overlay js-height-limit__overlay"></div>
</div>



