.declaration
  padding px2em(40) 0 px2em(50)
  &-form
    display none
  &--edit-mode &
    &-form
      display block
    &-info
      display none

.declaration-info
    &__title
      setFont(20, 24, 600, 12)
      display block
      margin-bottom px2em(40,20)
      margin-top px2em(10,20)
    &__val
      setFont(20, 24, 200)
      display block
      margin-bottom px2em(30,20)

.declaration-form
  &__label
    setFont(12, 14, null, 23)
    color #969495
    text-transform uppercase
    display block
    margin-top px2em(-14,12)
    margin-bottom px2em(26,12)
    .icon
      vertical-align top
      margin px2em(-2,12) 0 0 px2em(4,12)

.declaration-field
  margin-bottom px2em(36)
  &, input
    setFont(20, 22, 200)
  &__input
    margin-right px2em(36)
    position relative
    input
      display block
      padding px2em(4) 0 px2em(4)
    &--price
      .has-mismathc-total-err & input
        border-color #ff0000

.declaration-row-ctrls
  clearfix()
  &__total
    setFont(20, 22, 200)
    display inline-block
    padding px2em(4,20) 0
    color #969495
  &__is-complete,
  &__remove
    float right
    display inline-block
    width px2em(25)
    height @width
    background none
    border none
    background-repeat no-repeat
    background-position 50% 50%
    vertical-align top
    margin-left px2em(15)
  &__is-complete
    background-image url(../images/icons/filled-correctly.svg)
    visibility hidden
    .declaration-row.is-complete &
      visibility visible
  &__remove
    background-image url(../images/icons/delete.svg)
    cursor pointer
    .declaration-row.is-empty:last-child &
      visibility hidden

.declaration__total-mismatch
  setFont(12, 14, 200)
  color #fb0000
  margin-bottom px2em(15,12)

.declaration__total-def-currency
  setFont(14, 17, 400, 12)
  display block
