.container
  width px2em(1188)
  margin 0 auto



.b12-row
  clearfix()
  margin 0 -3%
.b12-col
  &-1, &-2, &-3, &-4, &-5, &-6, &-7, &-8, &-9, &-10, &-11, &-12
    padding 0 3%
    display block
    float left
    min-height px2em(1)
  for num in (1..12)
    &-{num}
      width (num/12*100)%




.row
  +cache('grid-row')
    clearfix()
    margin 0 px2em(-6)

for num in (1..9)
  .col-{num}
    +cache('grid-col')
      padding 0 px2em(6)
      display block
      float left
      min-height 1px
    width (num/9*100)%

for subi in (2..8)
  .row-sub-{subi}
    +cache('grid-row')
      clearfix()
      margin 0 px2em(-6)
    for coli in (1..subi)
      .col-{coli}
        width (coli/subi*100)%


.take-left-gap
  margin-left px2em(-12)
