<div class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-2 control-label"><%- trans('Дата принятия холда') %></label>
    <div class="col-sm-6">
      <p class="form-control-static">16.06.2014 13:28</p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label"><%- trans('Дата выдачи посылки') %></label>
    <div class="col-sm-6">
      <p class="form-control-static">19.06.2014 17:46</p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label"><%- trans('Сьют') %></label>
    <div class="col-sm-6">
      <a href="<%- pageUrl('storage-suite') %>" class="btn btn-link btn-link--narrow">31337 (Petrov Oleg)</a>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label"><%- trans('Сумма') %></label>
    <div class="col-sm-6">
      <p class="form-control-static">782 €</p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label"><%- trans('Пересечение границы') %></label>
    <div class="col-sm-6">
      <p class="form-control-static"><%- trans('Пересечена') %></p>
    </div>
  </div>
</div>


<% include ../storage/parcel-list--suite %>
<br><br>
