<div class="container">

    <div class="alert alert-info" role="alert"><?php echo $this->__("Заполните перед началом приёмки") ?></div>

    <br>

    <form class="form-horizontal" action="<?php echo $this->getUrl('pochta/takeout/postMove') ?>" method="post">

        <div class="form-group">
            <label for="borderline" class="col-sm-3 control-label"><?php echo $this->__("Custom office") ?> *</label>
            <div class="col-sm-6">
                <input type='hidden' type="text" class="form-control js-select2" id="borderline" name="borderline" data-options="">
            </div>
        </div>

        <div class="form-group">
            <label for="carrier_date_in" class="col-sm-3 control-label"><?php echo $this->__("Transit Limit Date") ?> *</label>
            <div class="col-sm-6">
                <input type="date" class="form-control" id="carrier_date_in" name="carrier_date_in" value="<?php echo date('Y-m-d'); ?>">
            </div>
        </div>

        <br/>

        <div class="form-group">
            <label for="carrier_name_first" class="col-sm-3 control-label"><?php echo $this->__("Имя владельца") ?> *</label>
            <div class="col-sm-6">
                <input type='hidden' type="text" class="form-control js-select2" id="carrier_name_first" name="carrier_name_first" data-options="Mikka Pekkanen,Kuznetsov Maxim,Nikolaev Denis,Nikolaev Denis,Potapova Ekaterina">
            </div>
        </div>

        <div class="form-group">
            <label for="carrier_name_last" class="col-sm-3 control-label"><?php echo $this->__("Фамилия владельца") ?> *</label>
            <div class="col-sm-6">
                <input type='hidden' type="text" class="form-control js-select2" id="carrier_name_last" name="carrier_name_last" data-options="Mikka Pekkanen,Kuznetsov Maxim,Nikolaev Denis,Nikolaev Denis,Potapova Ekaterina">
            </div>
        </div>

        <div class="form-group">
            <label for="consignee_address_line" class="col-sm-3 control-label"><?php echo $this->__("Line") ?> *</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="consignee_address_line" name="consignee_address_line" value="">
            </div>
        </div>

        <div class="form-group">
            <label for="consignee_address_city" class="col-sm-3 control-label"><?php echo $this->__("City") ?> *</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="consignee_address_city" name="consignee_address_city" value="">
            </div>
        </div>

        <div class="form-group">
            <label for="consignee_address_country" class="col-sm-3 control-label"><?php echo $this->__("Country") ?> *</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="consignee_address_country" name="consignee_address_country" value="">
            </div>
        </div>

        <div class="form-group">
            <label for="consignee_address_postcode" class="col-sm-3 control-label"><?php echo $this->__("Postal Code") ?> *</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="consignee_address_postcode" name="consignee_address_postcode" value="">
            </div>
        </div>

        <br/>

        <div class="form-group">
            <label for="transport_mode_code" class="col-sm-3 control-label"><?php echo $this->__("Тип машины") ?> *</label>
            <div class="col-sm-6">
                <select id="transport_mode_code" name="transport_mode_code" title="<?php echo $this->__("Тип машины") ?>" class="form-control validate-select required-entry">
                    <option value="3" selected><?php echo $this->__('Легковая') ?></option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="transport_nationality_code" class="col-sm-3 control-label"><?php echo $this->__("Гос. регистрация") ?> *</label>
            <div class="col-sm-6">
                <input type='hidden' type="text" class="form-control js-select2" id="transport_nationality_code" name="transport_nationality_code" data-options="DN6754,DN8321,DN2394">
            </div>
        </div>

        <div class="form-group">
            <label for="transport_means_id" class="col-sm-3 control-label"><?php echo $this->__("Номер машины") ?> *</label>
            <div class="col-sm-6">
                <input type='hidden' type="text" class="form-control js-select2" id="transport_means_id" name="transport_means_id" data-options="DN6754,DN8321,DN2394">
            </div>
        </div>
<!--
        <div class="form-group">
            <label for="conveyance_reference_id" class="col-sm-3 control-label"><?php echo $this->__("Номер передачи") ?></label>
            <div class="col-sm-6">
                <input type='hidden' type="text" class="form-control js-select2" id="conveyance_reference_id" name="conveyance_reference_id" data-options="DN6754,DN8321,DN2394">
            </div>
        </div>
-->
        <br/>

        <div class="form-group">
            <label for="carrier_date_out" class="col-sm-3 control-label"><?php echo $this->__("Дата выдачи") ?> *</label>
            <div class="col-sm-6">
                <input type="date" class="form-control" id="carrier_date_out" name="carrier_date_out" value="<?php echo date('Y-m-d'); ?>">
            </div>
        </div>

        <div class="form-group">
            <label for="comment" class="col-sm-3 control-label"><?php echo $this->__("Комментарии") ?></label>
            <div class="col-sm-6">
                <textarea class="form-control" id="comment" name="comment"></textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-6">
                <button class="btn btn-primary"><?php echo $this->__("Продолжить") ?></button>
                <a href="<?php echo $this->getUrl('pochta/index') ?>" class="btn btn-default"><?php echo $this->__("Отмена") ?></a>
            </div>
        </div>

    </form>

</div>