<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="javascript:history.go(-1)"><?php echo $this->__("Назад") ?></a></li>
      </ul>
    </div>

  </div>
</nav>

<div class="container">

    <div class="alert alert-info">
        <?php echo $this->__("Найдите и отметьте посылки для выдачи.") ?><br>
    </div>

    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-2">
                <select id="search_type" name="search_type" title="<?php echo $this->__('Тип поиска') ?>" class="form-control validate-select required-entry">
                    <option value="Tracking"><?php echo $this->__('Tracking') ?></option>
                    <option value="Original Tracking"><?php echo $this->__('Original Tracking') ?></option>
                    <option value="SKU"><?php echo $this->__('SKU') ?></option>
                    <option value="Suite" selected="selected"><?php echo $this->__('Suite') ?></option>
                    <option value="PassportNumber"><?php echo $this->__('Passport Number') ?></option>
                    <option value="PassportFullName"><?php echo $this->__('Name and surname') ?></option>
                </select>
            </div>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="search_criteria" name="search_criteria" value="" placeholder="<?php echo $this->__('please enter search criteria') ?>">
            </div>
        </div>
    </div>

    <span class="btn btn-primary" onclick="searchParcels();"><?php echo $this->__('Поиск') ?></span>

    <table id="search_results" class="table table-condensed sorted-table" style="display: none">
        <thead>
        <tr>
            <th><?php echo $this->__("В заказе") ?></th>
            <th><?php echo $this->__("Номер посылки") ?></th>
            <th><?php echo $this->__("Сьют") ?></th>
            <th><?php echo $this->__("Трекинг") ?></th>
            <th><?php echo $this->__("Suite owner") ?></th>
            <th><?php echo $this->__("Parcel owner") ?></th>
            <th><?php echo $this->__("Invoices") ?></th>
        </tr>
        </thead>

        <tbody>
        </tbody>

    </table>

    <br/>

    <span id="addParcels" class="btn btn-primary" disabled onclick="addParcels();" style="display: none"><?php echo $this->__('Добавить') ?></span>

    <br/>
    <br/>

    <div class="alert alert-info">
        <?php echo $this->__("Текущее содержимое заказа.") ?><br>
    </div>

    <form action="<?php echo $this->getUrl('pochta/takeout/processTakeout') ?>" method="post">
        <table id="selected_results" class="table table-condensed sorted-table">
            <thead>
                <tr>
                    <th><?php echo $this->__("Номер посылки") ?></th>
                    <th><?php echo $this->__("Сьют") ?></th>
                    <th><?php echo $this->__("Трекинг") ?></th>
                    <th><?php echo $this->__("Suite owner") ?></th>
                    <th><?php echo $this->__("Parcel owner") ?></th>
                    <th><?php echo $this->__("Invoices") ?></th>
                    <th><?php echo $this->__("Действие") ?></th>
                </tr>
            </thead>

            <tbody>
            </tbody>

        </table>

        <input type="submit" class="btn btn-primary" value="<?php echo $this->__('Продолжить') ?>" id="submit-btn-1">
    </form>

</div>

<script type="text/javascript">
    function searchParcels() {

        $.ajax({
            url: '/pochta/ajax/searchParcels',
            data: {
                "search_type" : $('#search_type').val(),
                "search_criteria" : $('#search_criteria').val()
            },
            type: 'post',
            success:function(data){
                $('#search_results tbody').remove();

                for (var ii = 0; ii < data.length; ii++) {
                    $('#search_results')
                        .append($('<tr>')
                            .append($('<td>').append($('<input>').attr('type', 'checkbox').attr('onclick', 'selectParcel()')))
                            .append($('<td>').text(data[ii]['sku']))
                            .append($('<td>').text(data[ii]['suite']))
                            .append($('<td>').text(data[ii]['tracking']))
                            .append($('<td>').text(data[ii]['suitefio']))
                            .append($('<td>').text(data[ii]['parcelfio']))
                            .append($('<td>').text(data[ii]['invoices']))
                    );
                }

                if ($('#search_results tr').length > 1) {      // header row also counts
                    $('#search_results').show();
                    $('#addParcels').show();
                } else {
                    $('#search_results').hide();
                    $('#addParcels').hide();
                }
            }
        });
    };

    function selectParcel(input) {

        if ($('#search_results tr input ').is(':checked')) {
            $('#addParcels').removeAttr('disabled');
        } else {
            $('#addParcels').attr('disabled', true);
        }

    };

    function addParcels() {

        $('#search_results tr input:checked').each(function(index) {

            var row = $(this).closest('tr').remove();

            $('#selected_results')
                .append($('<tr>')
                    .append($('<td>').text($($('td', row)[1]).text()))
                    .append($('<td>').text($($('td', row)[2]).text()))
                    .append($('<td>').text($($('td', row)[3]).text()))
                    .append($('<td>').text($($('td', row)[4]).text()))
                    .append($('<td>').text($($('td', row)[5]).text()))
                    .append($('<td>').text($($('td', row)[6]).text()))
                    .append($('<td>')
                        .append('<button type="button" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>').attr('onclick', 'removeParcel($(this))'))
                );

            $.ajax({
                url: '/pochta/ajax/addParcel',
                data: {
                    "sku" : $($('td', row)[1]).text()
                },
                type: 'post'
            });

        });

        if ($('#search_results tr').length > 1) {   // header row also counts
            $('#search_results').show();
            $('#addParcels').show();
        } else {
            $('#search_results').hide();
            $('#addParcels').hide();
        }
        $('#addParcels').attr('disabled', true);

    };

    function removeParcel(input) {
        var row = $(input).closest('tr').remove();

        $.ajax({
            url: '/pochta/ajax/removeParcel',
            data: {
                "sku" : $($('td', row)[1]).text()
            },
            type: 'post'
        });
    }

</script>