<div class="call-to-act landing-registration" id="registration">
    <div class="container">
        <div class="call-to-act__content">

            <div class="row">
                <div class="call-to-act__form-bg"></div>
                <div class="col-3">

                    <h2><?php echo $this->__('Получите личный адрес для доставки из-за границы') ?></h2>

                    <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>


                    <form action="<?php echo $this->getUrl('customer/account/createPost') ?>" method="post">
                        <input type="hidden" name="success_url" value="<?php echo $this->getUrl('customer/account/emailconfirmsent') ?>" />
                        <input type="hidden" name="error_url" value="<?php echo $this->getUrl('customer/account/create') ?>" />

                        <div class="landing-registration__email__wrap">
                            <input type="text" class="landing-registration__email js-fix-ph" placeholder="<?php echo $this->__('укажите вашу электронную почту') ?>" name="email" />
                            <!-- Если нет ошибки просто убрать этот тег -->
                            <!-- <p class="landing-registration__email__error"><?php echo $this->__('Неверный адрес') ?></p> -->
                        </div>
                        <div class="landing-registration__email__wrap">
                            <input type="password" class="landing-registration__email js-fix-ph" placeholder="<?php echo $this->__('придумайте пароль') ?>" id="password" name="password" />
                            <input type="hidden" class="landing-registration__email js-fix-ph" placeholder="<?php echo $this->__('подтвердите пароль') ?>"  id="confirmation" name="confirmation" />
                        </div>

                        <!--                        <input type="hidden" name="firstname" title="First Name" value="firstname" />-->
                        <!--                        <input type="hidden" name="lastname" title="Last Name" value="lastname" />-->

                        <button type="submit" class="call-to-act__btn" onclick="$('#confirmation').val($('#password').val());">
                            <?php echo $this->__('Начать пользоваться сервисом') ?><br/>
                            <small><?php echo $this->__('%s € за посылку, первая - бесплатно', Mage::getModel('core/variable')->setStoreId(Mage::app()->getStore()->getId())->loadByCode('default_cost')->getValue('text')) ?></small>
                        </button>
                        <p class="landing-registration__terms">
                            <?php echo $this->__('Регистрируясь, вы соглашаетесь<br/> с') ?>
                            <a href="/terms"><?php echo $this->__('условиями использования сервиса') ?></a>
                        </p>
                    </form>
					<?php
					$filter = new Mage_Widget_Model_Template_Filter();
					$_widget = $filter->filter('{{widget type="hybridauth/login" template="cms/widget/link/link_block.phtml" template="hybridauth/HybridAuth/hybridauth_form.phtml"}}');
					echo $_widget;
					?>

<!--   
					  <div class="landing-oauth">
                        <p class="call-to-act__descr"><?php echo $this->__('или регистрируйтесь с помощью') ?></p>
                        <ul class="row-sub-3">
                            <li class="col-1 landing-oauth__vk">
                                <button class="landing-oauth__btn" type="button"><?php echo $this->__('Вконтакте') ?></button>
                            </li>
                            <li class="col-1 landing-oauth__odnoklassniki">
                                <button class="landing-oauth__btn" type="button"><?php echo $this->__('Одноклассники') ?></button>
                            </li>
                            <li class="col-1 landing-oauth__facebook">
                                <button class="landing-oauth__btn" type="button"><?php echo $this->__('Facebook') ?></button>
                            </li>
                        </ul>
                    </div> 
-->

                    <div class="landing-partner">
                        <a href="http://tudatuda.com/" target="_blank">
                            <div class="landing-partner__title">
                                Воспользуйтесь услугами наших партнеров,<br>чтобы доставить посылку в ваш город:
                            </div>
                            <img src="<?php echo $this->getSkinUrl() ?>images/illustrations/tuda-tuda.png" alt="Народная почта ТУДАТУДА - доставка с помощью путешественников www.tudatuda.com" />
                            <div class="landing-partner__subtitle">
                                доставка путешественниками
                            </div>
                            <div class="landing-partner__link">tudatuda.com</div>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>