<!-- %TODO AJAX -->
<form class="settings-block settings-block--alt-bg">
    <div class="container">
        <h3><?php echo $this->__('Выберите, где вам удобней забирать ваши посылки.') ?></h3>

        <p class="settings-block__sub-title">
            <?php echo $this->__('Ваши адреса в Финляндии и США остаются прежними и не зависят от выбранного по умолчанию  пункта. Вы всегда сможете сменить пункт выдачи в настройках или выборочно переместить посылку.') ?>
        </p>

        <div class="row">
            <div class="col-4">
                <div class="storage-select-item">
                    <label>
                        <div class="radio">
                            <input type="radio" name="tmp1" <?php echo ($this->getCustomer()->getDefaultPlace() == Mage::registry('customer_default_place_lapa') ? 'checked' : ''); ?> onclick="updateCustomer('default_place', <?php echo Mage::registry('customer_default_place_lapa') ?>)" />

                            <div class="radio__ui"></div>
                        </div>
                        <div class="storage-select-item__name">
                            <?php echo $this->__('Лаппеенранта') ?>
                            <small><?php echo $this->__('Брусничное МАПП') ?></small>
                        </div>
                    </label>
<!--
                    <a class="storage-select-item__map" href="/office-nuijamaa">
                        <?php echo $this->__('Подробная карта проезда') ?>
                    </a>
-->
                </div>
            </div>
            <div class="col-4">
                <div class="storage-select-item">
                    <label>
                        <div class="radio">
                            <input type="radio" name="tmp1" <?php echo ($this->getCustomer()->getDefaultPlace() == Mage::registry('customer_default_place_imatra') ? 'checked' : ''); ?> onclick="updateCustomer('default_place', <?php echo Mage::registry('customer_default_place_imatra') ?>)" />

                            <div class="radio__ui"></div>
                        </div>
                        <div class="storage-select-item__name">
                            <?php echo $this->__('Иматра') ?>
                            <small><?php echo $this->__('Светогорск МАПП') ?></small>
                        </div>
                    </label>
<!--
                    <a class="storage-select-item__map" href="/office-imatra">
                        <?php echo $this->__('Подробная карта проезда') ?>
                    </a>
-->
                </div>
            </div>
        </div>
    </div>
</form>

<!-- %TODO AJAX -->
<form class="settings-block">
    <div class="container">
        <h3><?php echo $this->__('Уведомления') ?></h3>

        <p class="settings-block__sub-title">
            <?php echo $this->__('Выберите способы оповещения о новых посылках и других изменениях.') ?>
        </p>

        <div class="row">
            <div class="col-4">
                <div class="alert-select-item">
                    <label>
                        <?php $notify_me = explode(',', $this->getCustomer()->getNotifyMe()); ?>
                        <div class="checkbox">
                            <input type="checkbox" <?php echo (array_search(Mage::registry('notify_me_email'), $notify_me)  === false ? '' : 'checked'); ?> onclick="updateCustomer('notify_me', <?php echo Mage::registry('notify_me_email') ?>)" />

                            <div class="checkbox__ui"></div>
                        </div>
                        <div class="alert-select-item__name">
                            <?php echo $this->__('на почту') ?>
                        </div>
                        <div class="alert-select-item__value">
                            <?php echo $this->getCustomer()->getEmail() ?>
                        </div>
                    </label>
                </div>
            </div>
            <div class="col-4">
                <div class="alert-select-item">
                    <?php $phoneValidated = $this->getCustomer()->getPhone() != ''; ?>
                    <label class="<?php echo $phoneValidated ? '' : 'is-disabled' ?>" id="smsEvent_label">
                        <div class="checkbox">
                            <input type="checkbox" <?php echo (array_search(Mage::registry('notify_me_phone'), $notify_me) === false ? '' : 'checked'); ?> onclick="updateCustomer('notify_me', <?php echo Mage::registry('notify_me_phone') ?>)"  <?php echo $phoneValidated ? '' : 'disabled' ?> id="smsEvent_input" />
                            <div class="checkbox__ui"></div>
                        </div>
                        <div class="alert-select-item__name">
                            <?php echo $this->__('по СМС') ?>
                        </div>
                        <div class="alert-select-item__value" <?php echo $phoneValidated ? '' : 'style="display: none"' ?> id="showPhone">
                            <?php echo $this->getCustomer()->getPhone() ?>
                        </div>
                    </label>
                    <a class="alert-select-item__setup" href="#setup-phone" <?php echo !$phoneValidated ? '' : 'style="display: none"' ?> id="showPhoneLink">
                        <?php echo $this->__('укажите ваш номер телефона') ?>
                    </a>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="settings-block settings-block--alt-bg" id="setup-fio">
    <div class="container">
        <h3><?php echo $this->__('Паспортные данные') ?></h3>

        <!-- %TODO AJAX, может быть -->
        <form class="settings-pass-form">
            <div class="row">
                <div class="col-3">
                    <div class="form-group">
                        <input type="text" id="firstname" name="firstname" class="text-input js-fix-ph" placeholder="<?php echo $this->__('Имя, латиницей, как в загранпаспорте') ?>"
                               value="<?php echo $this->escapeHtml($this->getCustomer()->getFirstname()) ?>" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <div class="form-group">
                        <input type="text" id="lastname" name="lastname" class="text-input js-fix-ph" placeholder="<?php echo $this->__('Фамилия, латиницей, как в загранпаспорте') ?>"
                               value="<?php echo $this->escapeHtml($this->getCustomer()->getLastname()) ?>" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <div class="form-group">
                        <input type="text" id="doc_number" name="doc_number" class="text-input js-fix-ph" data-mask="99 9999999" placeholder="<?php echo $this->__('Номер заграничного паспорта') ?>"
                               value="<?php echo $this->escapeHtml($this->getCustomer()->getDocNumber()) ?>" />
                    </div>
                </div>
                <div class="col-1"></div>
                <div class="col-2">
<!--                    <button type="submit" class="btn btn-block btn-orange"><?php //echo $this->__('Сохранить') ?></button> -->
                    <span class="btn btn-block btn-orange" onclick="updateCustomerFio();"><?php echo $this->__('Сохранить') ?></span>
                </div>
            </div>
        </form>

    </div>
</div>

<div class="settings-block" id="setup-email">
    <div class="container">
        <h3><?php echo $this->__('Сменить почту') ?></h3>

        <!-- %TODO AJAX -->
        <form class="settings-contacts-form" >
            <div class="row">
                <div class="col-3">
                    <div class="form-group">
                        <input type="text" id="email" name="email" class="text-input js-fix-ph" placeholder="Введите новый адрес эл. почты" value="<?php echo $this->getCustomer()->getEmail() ?>" />
                        <p id="email_validation" style="display: none" class="landing-registration__email__error"><?php echo $this->__('Неверный адрес') ?></p>
                    </div>
                </div>
                <div class="col-1"></div>
                <div class="col-2 settings-contacts-form__update">
                    <div class="update-notification update-notification-email">На новую почту выслано подтверждение</div>
                    <!-- <button type="submit" class="btn btn-block btn-orange"><?php echo $this->__('Сохранить') ?></button> -->
                    <span class="btn btn-block btn-orange" onclick="updateCustomer('email', $('#email').val(), '#email_validation');"><?php echo $this->__('Сохранить') ?></span>
                </div>
            </div>
        </form>

        <!-- %TODO AJAX -->
<!--
        <form class="settings-contacts-form">
            <p class="settings-contacts-form__descr">
                <?php echo $this->__('На почту') ?>
                olegpetrov@mail.ru
                <?php echo $this->__('высланно подтверждение изменения адреса эл.&nbsp;почты') ?>
            </p>

            <div class="row">
                <div class="col-3">
                    <div class="form-group">
                        <input type="text" class="text-input" />
                    </div>
                </div>
                <div class="col-1"></div>
                <div class="col-2">
                    <button type="submit"
                            class="btn btn-block btn-orange"><?php echo $this->__('Подтвердить') ?></button>
                </div>
            </div>
        </form>
-->
    </div>
</div>

<div class="settings-block settings-block--alt-bg" id="setup-phone">
    <div class="container">
        <h3><?php echo $this->__('Указать телефон') ?></h3>

        <!-- %TODO AJAX -->
        <form class="settings-contacts-form">
            <div class="row">
                <div class="col-3">
                    <div class="form-group has-error">
                        <?php $phone_parts = explode('-', $this->getCustomer()->getPhone()); ?>
                        <div class="input-group phone-input js-phone-field">
                            <span class="input-group__addon">+&nbsp;7&nbsp;(</span>
                            <input id="phone1" name="phone1" type="text" class="text-input phone-input__short" maxlength="3" value="<?php echo $phone_parts[1] ?>" />
                            <span class="input-group__addon">)</span>
                            <input id="phone2" name="phone2" type="text" class="text-input phone-input__long" maxlength="7" value="<?php echo $phone_parts[2] ?>" />
                        </div>
                    </div>
                </div>
                <div class="col-1"></div>
                <div class="col-2 settings-contacts-form__update">
                    <div class="update-notification update-notification-phone">На указанный номер отправлено СМС</div>
                    <!-- <button type="submit" class="btn btn-block btn-orange"><?php echo $this->__('Сохранить') ?></button> -->
                    <span class="btn btn-block btn-orange" onclick="updateCustomer('phone', '+7-' + $('#phone1').val() + '-' + $('#phone2').val());"><?php echo $this->__('Сохранить') ?></span>
                </div>
            </div>
        </form>

        <!-- %TODO AJAX -->
<!--
        <form class="settings-contacts-form">
            <p class="settings-contacts-form__descr">
                <?php echo $this->__('На номер') ?>
                +7 921 666 77 79
                <?php echo $this->__('выслано смс с&nbsp;кодом подтверждения') ?>
            </p>

            <div class="row">
                <div class="col-3">
                    <div class="form-group">
                        <input type="text" class="text-input" />
                    </div>
                </div>
                <div class="col-1"></div>
                <div class="col-2">
                    <button type="submit" class="btn btn-block btn-orange"><?php echo $this->__('Подтвердить') ?></button>
                </div>
            </div>
            <p class="settings-contacts-form__resend">
                <button type="button"><?php echo $this->__('выслать повторно') ?></button> через 30 сек.
            </p>
        </form>
-->
    </div>
</div>

<div class="settings-block" id="setup-password">
    <div class="container">
        <h3><?php echo $this->__('Смена пароля') ?></h3>

        <p id="password_validation" style="display: none" class="landing-registration__email__error"><?php echo $this->__('Неверный пароль') ?></p>

        <!-- %TODO AJAX, может быть -->
        <form class="settings-pass-form">
            <div class="row">
                <div class="col-3">
                    <div class="form-group">
                        <input id="current_password" name="current_password" type="password" class="text-input js-fix-ph" placeholder="Введите текущий пароль" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <div class="form-group">
                        <input id="password" name="password" type="password" class="text-input js-fix-ph" placeholder="Введите новый пароль" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <div class="form-group">
                        <input id="confirmation" name="confirmation" type="password" class="text-input js-fix-ph" placeholder="Повторите новый пароль" />
                    </div>
                </div>
                <div class="col-1"></div>
                <div class="col-2 settings-contacts-form__update">
                    <div class="update-notification update-notification-password">Смена пароля завершена,<br>вам на почту выслано<br>письмо с подтверждением</div>
                    <!-- <button type="submit" class="btn btn-block btn-orange"><?php echo $this->__('Сменить') ?></button> -->
                    <span class="btn btn-block btn-orange" onclick="updateCustomerPassword($('#current_password').val(), $('#password').val(), $('#confirmation').val(), '#password_validation');"><?php echo $this->__('Сменить') ?></span>
                </div>
            </div>
        </form>

    </div>
</div>

<script type="text/javascript">
    function updateCustomer(field, value, validation_field) {
        if (field == 'phone' && value == '+7--') {
            value = '';
        }
        $.ajax({
            url: '/pochta/ajax/updateCustomer',
            data: {
                "customerId" : <?php echo $this->getCustomer()->getId() ?>,
                "field" : field,
                "value" : value
            },
            type: 'post',
            success:function(data){

       
                  
                if (data != '') {
                    $(validation_field).text(data);
                    $(validation_field).show();

                } else {
                    $(validation_field).hide();
                    $(".update-notification-"+ field).fadeIn(50, function(){
                    $(this).delay(5000).fadeOut(500);
                    });   
                }
                if (field == 'phone') {
                    
                    if (value != '') {
                        $('#smsEvent_label').removeClass('is-disabled');
                        $('#smsEvent_input').removeAttr('disabled');
                        $('#showPhone').text(value);
                        $('#showPhone').show();
                        $('#showPhoneLink').hide();
                    } else {
                        $('#smsEvent_label').addClass('is-disabled');
                        $('#smsEvent_input').attr('disabled', true);
                        $('#smsEvent_input').attr('checked', false);
                        $('#showPhone').hide();
                        $('#showPhoneLink').show();
                    }
                }
                
    
                
            }
        });
    }

    function showNotification(field) {

    }
    function updateCustomerFio() {
        $.ajax({
            url: '/pochta/ajax/updateCustomerFio',
            data: {
                "customerId" : <?php echo $this->getCustomer()->getId() ?>,
                "lastname" : $('#lastname').val(),
                "firstname" : $('#firstname').val(),
                "doc_number" : $('#doc_number').val()
            },
            type: 'post',
            success:function(data){
                //Succes!
            }
        });
    }

    function updateCustomerPassword(current_password, password, confirmation, validation_field) {
        $.ajax({
            url: '/pochta/ajax/updateCustomerPassword',
            data: {
                "customerId" : <?php echo $this->getCustomer()->getId() ?>,
                "current_password" : current_password,
                "password" : password,
                "confirmation" : confirmation
            },
            type: 'post',
            success:function(data){
                
                if (data != '') {
                    $(validation_field).text(data);
                    $(validation_field).show();
                } else {
                    // $(validation_field).text('<?php echo $this->__('Успешно!') ?>');
                    $(".update-notification-password").fadeIn(200, function(){
                        $(this).delay(7000).fadeOut(500);
                    });   
                    // $(validation_field).show();
                    // setTimeout(function() {$(validation_field).hide();}, 2000);
                }
            }
        });
    }
</script>